[2018-05-29 09:59] BlueFinBima opened #12 "AV-8B Slip Glide Indicator Not working properly"
AV-8B Slip Glide Indicator Not working properly because I could not find settings to bind to the ball and the indicator.  Probably more related to my misunderstanding about how this works.

[2018-05-29 10:01] BlueFinBima opened #13 "Exception in profile editor when there are multiple entries in interface definition"
This is really just a reminder that if the interface has the same code defined twice, then an unhandled exception is the result.  I'll add more details later.

[2018-05-29 10:04] BlueFinBima opened #14 "Profile Editor will not display new panels."
When you open a profile in the profile editor, and create a new panel, it cannot be opened.  The circumvention for this is to delete the ".layout" file, and the first action on opening, is to open every single panel created in the profile.

[2018-05-29 10:06] BlueFinBima opened #15 "Toolbar for A-10C Gauges throws an exception when opened"
Need to check if this is also broken in Gadroc's version.  None of the files in the directory have changed, but that does not mean that I didn't break it somehow.  It appears to be a XAML parsing problem.

[2018-05-29 10:12] BlueFinBima opened #16 "EDP Water Flow Control Light not working in DCS"
This seems to be code 179, and the light works when poked by a UDP client, but it is possible / likely that the code is incorrect.

[2018-05-29 10:13] BlueFinBima opened #17 "Exports.Lua Integration is not working for AV-8B interface."
Have not really worked out how this is supposed to work from the interface configuration because I do not use it, but I need to investigate how to get this working.

[2018-05-29 10:14] BlueFinBima opened #18 "No installer for Helios with the AV-8B interface."
Currently there is no installer for the AV-8B interface.  Not an issue unless others want to have a copy of it.

[2018-05-29 10:16] BlueFinBima opened #19 "AV-8B Images not appearing in Profile Editor Toolbox"
AV-8B Images not appearing in Profile Editor Toolbox

[2018-05-29 10:21] BlueFinBima commented on #14
Not sure if this is an Avalon issue or not.  This obviously works initially when a profile is created or opened without a ".layout" but something happens to stop this working.

[2018-05-29 10:28] BlueFinBima commented on #13
This is really a bug, but not sure if I'll get around to fixing since this it will require a lot of investigation, there is a workaround, and it should only be seen during the development cycle.

[2018-05-29 10:30] BlueFinBima commented on #12
It might be fixable in a profile, it really just depends on whether the right network values are already defined and scaled correctly.

[2018-05-29 10:46] BlueFinBima opened #21 "Installer needed for AV-8B Profile"
Need to package up the basic AV-8B profile along with needed assets for independent delivery.

[2018-05-29 11:14] BlueFinBima opened #22 "Version Checking Not Working"
The version checking inherited from Gadroc's Helios throws up a warning that the current level is not the latest.  Not quite sure what to do about this because I do not own the versioning.  I've disabled the version check for the time being to decide whether I want to change the version number to higher than Gadroc's last public delivery.

[2018-05-29 11:16] BlueFinBima opened #23 "ADI cage Adjustment not working"
Need to add an axis for the ADI adjustment and then bind it correctly in the profile.

[2018-05-29 23:08] BlueFinBima opened #24 "Ground safety lever not working correctly"
Seems to be back to front

[2018-05-29 23:09] BlueFinBima opened #25 "IAS Needle rotation not correct"
Something broke this because it has been working fine for ages.

[2018-05-29 23:11] BlueFinBima opened #26 "Game option button for radio not working"
Pretty sure this broke when I tried to get it to appear by pressing the radio button as part of the ground button output actions

[2018-05-29 23:26] BlueFinBima opened #28 "Installer needed for Helios (via the release fork)."
This was a little trickier than anticipated, but seems to be functional.

[2018-05-29 23:30] BlueFinBima opened #29 "UVHF radio knobs in wrong position"

[2018-05-30 06:55] BlueFinBima commented on #24
Fixed by code.

[2018-05-30 06:55] #24 closed

[2018-05-30 06:57] BlueFinBima commented on #25
Not sure why the needle was showing such low values, but apart from maybe a 10 knot deviation, the IAS seems to be working fine.  Closing this off as not an issue, although I may tweak the starting needle position if I can verify that their is a linear problem with the speed reading.

[2018-05-30 06:57] #25 closed

[2018-05-30 06:59] BlueFinBima opened #30 "Validation of the images and other resources needed for the AV-8B"
This is a clean-up task for the resources that are currently needed for the interface and profile.

[2018-05-30 07:11] BlueFinBima commented on #26
Fixed by change to profile

[2018-05-30 07:11] #26 closed

[2018-05-30 07:12] BlueFinBima commented on #29
Fixed by change to profile

[2018-05-30 07:12] #29 closed

[2018-05-30 07:14] BlueFinBima commented on #18
Closing as duplicate of #28

[2018-05-30 07:14] #18 closed

[2018-05-30 07:17] BlueFinBima commented on #30
Question to be resolved relates to whether all of the AV-8B images should really be resources or not.

[2018-05-30 07:30] BlueFinBima opened #31 "Check to make sure that we're clean on with the font usage"
I use font "MS 33558" and I need to be sure that this will not cause a problem for others.

[2018-05-30 13:43] BlueFinBima commented on #15
Looks like I broke this, so I need to find a way to rebase the Dev branch onto Gadroc's stable level.

[2018-05-31 22:41] BlueFinBima commented on #15
Setting for one of needle_a.xaml files was page instead of resource.  This is now resolved.

[2018-05-31 22:41] #15 closed

[2018-05-31 22:44] BlueFinBima opened #32 "Create fully formed gauges including backgrounds"

[2018-06-02 06:54] BlueFinBima opened #34 "Various XAML errors"
Exception Message:Cannot locate resource 'gauges/av-8b/2%20digit%20display/two_digit_faceplate.xaml'.
Exception Message:Cannot locate resource 'gauges/av-8b/3%20digit%20display/three_digit_faceplate.xaml'.
Exception Message:Cannot locate resource 'gauges/av-8b/adi/adi_slip_bezel.png'.

[2018-06-02 18:31] BlueFinBima opened #35 "Stand alone MPCD"
Gunterlund highlighted that the various short-cuts taken for the gauges will be a significant issue with some users.

[2018-06-02 18:38] BlueFinBima commented on #35
Created a new Helios component for the Helios MPCD (hopefully this will work for F/A-18C also).  Can't easily get top rockers to be at an angle,

[2018-06-02 18:38] #35 closed

[2018-06-02 23:04] BlueFinBima commented on #32
AoA, VVI, IAS complete, and work started on EDP

[2018-06-02 23:08] BlueFinBima commented on #19
This is probably my misunderstanding about the way it is supposed to work.  Need to investigate creating templates in the profile editor and then moving the .htpl file over to the project.

[2018-06-03 16:49] BlueFinBima opened #36 "None of the images for the guages (non AV-8B) are appearing in the profiler toolbox"
This working until very recently... not sure what got these lost, but VS 2015 seems to be a little flakey with it's own GITHUB integration.

[2018-06-03 17:39] BlueFinBima opened #37 "UDP Screen repeater would be a very nice to have."
The MFD's use a local screen mirroring, however it would probably be relatively easy to use the IRIS client code to have a networked version of these.

[2018-06-04 05:50] BlueFinBima commented on #36
Caused by a duplicate name in the list forcing an uncaught exception.  Name fixed, and new diagnostics added.

[2018-06-04 05:50] #36 closed

[2018-06-04 05:51] BlueFinBima commented on #32
All needle gauges  now have backgroud

[2018-06-04 05:51] #32 closed

[2018-06-04 05:52] BlueFinBima commented on #13
Try/Catch added and new message introduced to help diagnose future problems.

[2018-06-04 05:52] #13 closed

[2018-06-04 16:26] BlueFinBima opened #38 "Create the initial F/A-18C Interface"
This is the Helios interface for the F/A-18C Hornet.

[2018-06-04 16:29] BlueFinBima opened #39 "Investigate the feasibility of pulling in Cylution's MiG21 interface (Simon Collier) @Cylution"
I do not have this aircraft, but since a partial interface already exists, although not pulled into Gadroc's Master, it is worth investigating whether this is possible / sensible.

[2018-06-04 16:31] BlueFinBima commented on #39
@cylution, Simon,  do you have any thoughts on whether it makes sense to pull this in?  I am reasonably close to releasing the Harrier.  Let me know your thoughts please.

[2018-06-04 16:35] BlueFinBima opened #40 "Build integrated EDP"
This is the full EDP including counters - mainly to see if my c# is up to the job.  Panel and pointer have already been created.

[2018-06-05 21:22] BlueFinBima opened #41 "EDP & SMC Child Objects not scaling with Parent."
The new MFD's do not have this problem.  Potentially missing some method within the child objects to rescale, however it is not immediately obvious what method that would be.

[2018-06-06 06:29] BlueFinBima commented on #41
Created an SMCRenderer similar to the MFDRenderer and  this seems to have addressed the resizing issue.

[2018-06-07 13:41] BlueFinBima commented on #41
Actually, I ended up having a single AV8BDeviceRenderer

[2018-06-07 13:41] #41 closed

[2018-06-07 13:51] BlueFinBima commented on #19
It was indeed my misunderstanding.  You get the images by creating templates in Helios, and that having the .htpl files in the appropriate directory.  All pretty simple when this was understood.

[2018-06-07 13:51] #19 closed

[2018-06-07 13:52] BlueFinBima commented on #34
I think these are all fixed now.

[2018-06-07 13:52] #34 closed

[2018-06-07 13:54] BlueFinBima opened #42 "Adjust the existing AV-8B profile to use the newly created public artefacts."

[2018-06-07 13:59] BlueFinBima opened #43 "Pull basic artwork for the F/A-18C from DCS"
Basic artwork for the forward cockpit pulled.

[2018-06-07 17:11] BlueFinBima commented on #40
It was a little more challenging than I expected, but seems to be done now.  Just put the water indicator in so I think this is all done now.

[2018-06-07 17:11] #40 closed

[2018-06-08 12:49] BlueFinBima commented on #22
Bumped version up to 1.4.0.x

[2018-06-10 16:39] BlueFinBima opened #44 "Split off the delivery branch from Dev to remove the Hornet code"
Make sure that there is no dependency created in the AV-8B stream to the FA-18C code.  FA-18C will have the AV-8B code as a pre-req.

[2018-06-10 16:41] BlueFinBima opened #45 "Rebuilt the AV-8B profile using the new artefacts."

[2018-06-10 16:43] BlueFinBima opened #46 "UDP AV-8B interface claims to be instantiated twice. This needs to be fixed."
Might even be three times.
10/06/2018 17:42:31 - Error - UDP interface created duplicate function ID. (Interface="DCS AV8B", Function ID="3483")
10/06/2018 17:42:31 - Error - UDP interface created duplicate function ID. (Interface="DCS AV8B", Function ID="3472")

[2018-06-11 10:44] BlueFinBima commented on #45
This has now been completed but there is a bug for the actions for the composite devices which means that triggers work but actions do not seem to work.  This needs to be resolved under another issue.

[2018-06-11 10:44] #45 closed

[2018-06-11 14:18] BlueFinBima commented on #46
This is actually the system saying that codes in the interface file are declared more than once.  This issue was resolved by removing the duplicate entries.

[2018-06-11 14:18] #46 closed

[2018-06-13 06:30] BlueFinBima opened #47 "dispatcher object not being attached to composite device actions causing a null object problem when actions are initiated."
I can see no existing examples of composite devices which have indicators as children.  All existing items have them in the parent which is not feasible for the devices I am creating.

[2018-06-13 06:36] BlueFinBima commented on #47
dispatchers seem to be attached in the Visual deserializer, and there is no XML for the children in the profile.  I created the children XML with a "persistChildren= true" in the in my VisualComposite class, but this caused an exception when the profile was read, even though the XML was generated.  This may still be the answer, but I need some more debugger activity to see what the dispatcher need

[2018-06-13 22:55] BlueFinBima commented on #47
PersistChildren = true in the base device allows the children to appear in the profile which looks like this is the right approach.  Previously I had been doing the Children.add in the composite device after creating the  child item, however this resulted in the child being added from teh profile XML and then a failure when the device object itself was added.  I did not try the reverse of this to

[2018-06-16 08:52] BlueFinBima commented on #47
Threw away the previous approach because after 10's of hours debugging, I still could not get the actions to result in changes to the composite devices.  The approach I came up with was to simply steal the dispatcher object from the trigger owner, just before the invoke.  As far as I can tell, this works even though it is not pretty or correct.  The approach may not work 100% of the time, but if i

[2018-06-16 08:52] #47 closed

[2018-06-16 08:53] BlueFinBima opened #48 "The fuze mode indicator on the SMC does not display SAFE as a default."

[2018-06-16 08:54] BlueFinBima opened #49 "Tweaks needed to the rockers on the MFDs and possibly need some 60 degree rockers."

[2018-06-16 08:55] BlueFinBima opened #50 "Replace the current AV-8B MFD's with the composite ones."

[2018-06-16 08:56] BlueFinBima opened #51 "Remove everything that relies on the AV-8B deprecated objects and then remove this category from the toolbox."

[2018-06-16 09:05] BlueFinBima opened #52 "SM Jettison knob not rotating on AV-8B composite device"

[2018-06-16 13:02] BlueFinBima opened #53 "Stabilizer arrow not adjusted properly."

[2018-06-16 13:03] BlueFinBima opened #54 "COMM1 and Comm 2 pushable knobs not working"

[2018-06-16 13:03] BlueFinBima opened #55 "Nozzle position calibration a little off"

[2018-06-16 13:04] BlueFinBima opened #56 "MFD knobs not right"

[2018-06-16 13:06] BlueFinBima opened #57 "UFC buttons not showing pushed state. Likely to be a prob with all of the other composite devices."

[2018-06-16 13:07] BlueFinBima commented on #52
Removing the margin on the button fixed this.

[2018-06-16 13:07] #52 closed

[2018-06-16 13:30] BlueFinBima commented on #55
also rotating around incorrect position

[2018-06-16 15:28] BlueFinBima commented on #55
Calibration altered.  Centre still to be worked out.

[2018-06-16 15:29] BlueFinBima opened #58 "Trim needle not going to the left past the centre mark"

[2018-06-16 16:05] BlueFinBima commented on #55
all seems fine now.

[2018-06-16 16:05] #55 closed

[2018-06-16 16:07] BlueFinBima commented on #56
AV-8B knobs changed from rotary switches to pots and all seems fine with AV-8B MFD.

[2018-06-16 16:07] #56 closed

[2018-06-16 16:08] BlueFinBima commented on #50
Done

[2018-06-16 16:08] #50 closed

[2018-06-16 18:14] BlueFinBima commented on #49
Turns out it is 52 degrees for the AV-8B top rocker switches.  This is complete on the AV-8B.  Need to sort out the FA-18C in the same fashion

[2018-06-16 18:51] BlueFinBima commented on #49
FA-18C MFD's now using pots and 52 degree rockers.

[2018-06-16 18:51] #49 closed

[2018-06-16 19:33] BlueFinBima commented on #42
Done.  Proved to be a lot more difficult than first thought!!!!

[2018-06-16 19:33] #42 closed

[2018-06-16 19:34] BlueFinBima commented on #16
Suspecting a Razbam bug.  Indicator occasionally works, but it is erratic.

[2018-06-17 07:56] BlueFinBima commented on #16
Ran test, and 179 (the code that Ikarus believes is the correct one) is not being sent at the time that the games water light is on.  179 must be used for something, but it does not look like it is the water light on the EDP.

[2018-06-17 08:14] BlueFinBima commented on #53
This was just a profile binding problem.  Now fixed.

[2018-06-17 08:14] #53 closed

[2018-06-17 10:02] BlueFinBima commented on #58
Calibration fixed

[2018-06-17 10:02] #58 closed

[2018-06-18 20:59] BlueFinBima opened #59 "Update AV-8B profile to include automatic switch changes"
Not something I ever did for the A-10C, however I should really complete this for public consumption.

[2018-06-18 21:01] BlueFinBima opened #60 "FQIS composite panel for AV-8B"
Last panel for the AV-8B which is a composite panel for the Fuel Quantity panel

[2018-06-18 21:02] BlueFinBima commented on #60
The little rectangular indent on the left is missing, however this is almost complete.

[2018-06-18 21:04] BlueFinBima opened #61 "Helios.dll is now looking very bloated!"
All of the images as resources means that Helios.dll has grown.  Not sure if I really care.

[2018-06-18 21:08] BlueFinBima opened #62 "Clickables not in the AV-8B Exports.Lua"
This means that DCS cannot alter the helios switch positions.  Needs to decide on a strategy for this to manage the cost in teh game.  Certainly I need to send them on receipt of a RESET flow.

[2018-06-19 20:28] BlueFinBima commented on #59
This was helped massively by GADROCs exports code, but something is still a little odd with this.  It might be working as intended but some of the switches are not happy - I think that on initial connection, the array of values in DCS is zero, and this is then mirroring into Helios.  Need to think about this a little.

[2018-06-19 20:29] BlueFinBima commented on #62
SO I carefully create an array and I put it into the exports file only to find that Helios builds this automatically from the interface.  Fantastic!

[2018-06-19 20:29] #62 closed

[2018-06-19 20:31] BlueFinBima commented on #17
This is all pretty much automatic.  Who'd have guessed?  Very little work needed for this, and it is done now.

[2018-06-19 20:31] #17 closed

[2018-06-20 06:48] BlueFinBima commented on #57
Up and down images were the same.  Obvious answer is often the right one.

[2018-06-20 06:48] #57 closed

[2018-06-20 11:10] BlueFinBima opened #63 "Check for missing AV-8B clickables and add the missing ones to the interface."

[2018-06-20 11:12] BlueFinBima commented on #63
This will allow others to create a more comprehensive profile if they wish

[2018-06-20 11:15] BlueFinBima commented on #54
reverted to an overlay pushbutton.  I'm not going to fix this for the AV-8B beta.  It can stay on the backlog.

[2018-06-20 19:27] #63 closed

[2018-06-22 05:53] BlueFinBima commented on #59
I think I have done as much as I can on this.  The profile is complete for the AV-8B, however many of the switches are not being set properly from DCS and this appears to be due to the fact that the DCS export sends zeroes rather than the in-game value.  This might be fixable, but I can't see a way forward at the moment.

[2018-06-22 05:53] #59 closed

[2018-06-22 06:47] BlueFinBima opened #64 "AV-8B Cabin Pressure not binding Action to trigger"
Cannot convert to using the A-10 Cabin Pressure

[2018-06-22 06:49] BlueFinBima commented on #64
This was due to the A-10C binding units being Numeric rather than Feet which was what I had coded my original one to be.  Changed the AV8Binterface binding units to match the A-10C and the bind worked

[2018-06-22 06:49] #64 closed

[2018-06-22 06:57] BlueFinBima commented on #51
Last two removed, and the "Parts" toolbox category rolled into the "AV-8B" tab

[2018-06-22 06:57] #51 closed

[2018-06-22 10:35] BlueFinBima commented on #48
Not sure if this is linked with the 2019 code or not, or maybe it is the value of zero being sent to the device at startup.  Need to check the tape to see where the "SAFE" text lives on it.  If there is no obvious answer then I'll probably abandon this for the Beta (and maybe beyond).

[2018-06-22 10:52] BlueFinBima commented on #31
Need to replace "MS 33558" with "Franklin Gothic" in the hpf.  I thought I'd used it in the code somewhere also, but can't find it.

[2018-06-22 11:36] BlueFinBima commented on #31
Fonts only used in the UFCs for the AV-8B and the F/A-18C so these have been paramterised and set to Franklin Gothic because I did not want to set up a new build target just for me.

[2018-06-22 11:36] BlueFinBima commented on #31
Just need to do the profile now.

[2018-06-22 11:41] BlueFinBima commented on #48
Drum Tape has SAFE at around position 5, so when the initial value comes in and sets the tape to zero, the SAFE will not appear.  It is not clear how to get DCS to send down a reliable initial set of values.

[2018-06-22 11:43] BlueFinBima commented on #48
Not yet sure whether the drum tape is correct or not.

[2018-06-23 11:00] BlueFinBima commented on #30
Done,  Cockpit moved to the profile images directory

[2018-06-23 11:00] #30 closed

[2018-06-23 15:48] BlueFinBima commented on #48
Drum tape(s) rebuilt to match DCS and the fuze display converted to two tapes.  Seems like the values need to be checked to ensure that it now displays the right things.

[2018-06-23 15:54] BlueFinBima opened #65 "Get a lighter green for the advisorys"

[2018-06-24 08:46] BlueFinBima commented on #65
Mostly done, just need to correct the old advisory panel

[2018-06-24 08:47] BlueFinBima opened #66 "Set default switch position for the A/R to 3"

[2018-06-24 08:54] BlueFinBima commented on #65
Also the master modes buttons

[2018-06-24 09:58] BlueFinBima commented on #65
NAV button still needs to be fixed in the public version of the profile

[2018-06-24 10:33] BlueFinBima opened #67 "2019 code gets published twice, once with 0 and the second time with the actual value."
2019 is the only artificial entry which appears in the exports, so the LUA is exporting a value which it attempts to get from DCS (which is zero) and then the calculated version.

[2018-06-24 10:34] #66 closed

[2018-06-24 10:55] #65 closed

[2018-06-24 10:57] BlueFinBima commented on #48
Finally fixed this.  Required quite a lot of re-engineering of the drums and special casing for the situation when both left and right are set to 10, which happens for SAFE.  Now everything seems to be working well.

[2018-06-24 10:57] #48 closed

[2018-06-24 10:59] BlueFinBima commented on #31
Think we're good now.  Complication was that Franklin Gothic needs to have the font size increased in some instances cf MS 33558.

[2018-06-24 10:59] #31 closed

[2018-06-24 11:09] BlueFinBima opened #68 "Radio selectors not in the correct positions"

[2018-06-24 13:40] BlueFinBima commented on #67
Changing this from a networkvalue to a new SMCFuzeDisplay function has stopped 2019 being picked up as a normal export value in the Exports.lua.

[2018-06-24 13:40] #67 closed

[2018-06-24 13:46] BlueFinBima commented on #68
This will be a profile problem, so dropping this back to a ToDo

[2018-06-26 19:43] BlueFinBima commented on #39
@Cylution, Simon, I decided to do the merge and it is now in my Dev branch.  I have no way to test this, but it builds, the interface can be added and the gauges appear in the toolbar so I've done as much as I can on this.  Clearly you did a lot of work on this (I can imagine because of the amount of work the AV-8B took) so hopefully others will be able to make use of this. If you were willing to

[2018-06-26 19:43] #39 closed

[2018-06-26 19:47] BlueFinBima commented on #22
@gadroc says that the level on his site is 1.5 ish, but since my level is Beta, I've decided to call is 1.4.2018.0624. I'm not going to call it 1.5.x without Craig's approval.

[2018-06-26 19:47] #22 closed

[2018-06-26 19:49] BlueFinBima commented on #28
Installer completed and functional with VS Installer.  Not signed yet.

[2018-06-26 19:49] #28 closed

[2018-06-26 19:50] BlueFinBima commented on #44
Done and fonts adjusted for release.

[2018-06-26 19:50] #44 closed

[2018-06-26 19:53] BlueFinBima opened #72 "Beta of the AV-8B version of Helios is now available as 1.4.2018.0624"

[2018-06-26 19:55] BlueFinBima commented on #54
Went for a kludge solution

[2018-06-26 20:01] BlueFinBima commented on #16
This would be nice to get working, but will wait until I can do a dump of the indicators and find the right code

[2018-06-27 19:40] BlueFinBima opened #73 "MiG21 Interface - 3 duplicate function definitions."
27/06/2018 19:10:20 - Error - UDP interface created duplicate function ID. (Interface="DCS MiG21", Function ID="227")
27/06/2018 19:10:20 - Error - UDP interface created duplicate function ID. (Interface="DCS MiG21", Function ID="369")
27/06/2018 19:10:20 - Error - UDP interface created duplicate function ID. (Interface="DCS MiG21", Function ID="268")

No idea which are the correct codes for this.

[2018-06-27 19:41] BlueFinBima commented on #73
Ideally need @cylution to resolve these duplicates.  No issues enabled on Cylution's Helios

[2018-06-27 21:32] BlueFinBima opened #74 "Full fix for Black Shark and MiG21 Interface duplicate functions"
These are commented out for the time being.  I might be able to work out the Black Shark functions, but unlikely to be able to resolve the MiG21 because I do not have the aircraft.
Not a high priority to resolve (at least not for me).

[2018-08-01 17:12] BlueFinBima opened #75 "F/A-18C Defog lever implemented as axis but modeled in profile as a 3 way toggle"

[2018-08-01 17:12] BlueFinBima opened #76 "F/A-18C ADI needs much more work"

[2018-08-01 17:12] BlueFinBima opened #77 "F/A-18C Brake handle functioning not modeled correctly."

[2018-08-01 17:14] BlueFinBima commented on #43
Basic artwork pulled, but with Capt Zeen's release of his profile for F/A-18C, this seems to be a better starting place.  Closing this until I decide whether there is a need for my own hornet profile.

[2018-08-01 17:14] #43 closed

[2018-08-01 18:23] BlueFinBima opened #78 "Get some useful information onto the GH-Pages website https://bluefinbima.github.io/helios/"

[2018-08-01 19:22] BlueFinBima opened #79 "Reset Monitor crashes Profile Editor."
If a profile is loaded with the wrong monitor configuration, a "reset monitor" will result in

System.Windows.Markup.XamlParseException was unhandled
Message: An unhandled exception of type 'System.Windows.Markup.XamlParseException' occurred in PresentationFramework.dll
Additional information: Provide value on 'System.Windows.StaticResourceExtension' threw an exception.

[2018-08-01 20:20] BlueFinBima commented on #79
fixed by the removal of the missing static resource for HeliosToolBackground in the resetmonitor xaml file.  Identified by damien022.  Now committed.

[2018-08-01 20:20] #79 closed

[2018-08-02 20:04] BlueFinBima opened #80 "Helios 1.4 will crash when loading a 1.3 layout."
When attempting to load a .layout from 1.3, the XML deserializer in AvalonDock throws an exception on the very first line of the layout.
"Message=<DockingManager xmlns=''> was not expected."  Basically the 1.3 layout file is pseudo XML and not XML.  Compared to the 1.4 layout which is XML they are completely different beasts, and it will take a lot of work to parse two completely different formats

[2018-08-02 21:43] BlueFinBima commented on #80
Having thought about this for a few hours, there is only one sensible solution which is to abandon the ".layout" used by 1.3 and go for yet another suffix.  My guess is that this has happened at least once in the past.  I think we'll try hplayout this time.

[2018-08-02 21:55] BlueFinBima commented on #80
.layouts will be abandoned.  Potentially this might cause some problems with old profiles which get changed under 1.4, and then reopened with 1.3, but life isn't always fair, and I'd rather risk this than delete someone's .layout file.

[2018-08-02 21:55] #80 closed

[2018-08-02 22:00] BlueFinBima opened #81 "Investigate versioning the .hplayout files in Profile Editor"
1.4 is now well formed xml, so having a version in the .hplayout file could save headaches if AvalonDock makes an incompatible change.  Give that Helios is currently at 2.02, and the current level is 3.34, this might already have happened.

[2018-08-04 16:29] BlueFinBima commented on #14
Something odd going on with DocumentPane.  The count of Children goes to zero.  Also a little confused whether new items in the DocumentPane are Documents or Editors.  The Adds suggest that they should be documents.  More work required.

[2018-08-04 17:04] BlueFinBima commented on #14
More tests confirm that when everything is working fine, the DocumentPane object works as you expect with each tab being a child, and opening a new panel creates a new child via the DocumentPane.Children.Add(document); in private method AddNewDocument(HeliosObject profileObject) in MainWindow.xaml.cs.  In more complex scenarios DocumentPane loses children and cannot gain new ones.

[2018-08-05 14:00] BlueFinBima opened #82 "Basic Deux Mille Capability"
This is a basic interface for the Mirage 2000

[2018-08-05 17:49] BlueFinBima commented on #82
https://github.com/BlueFinBima/helios/commit/510370cc6f21b32e617d62d9f75a80a0737e8709 now contains an M2000C interface that can be pulled into profiles, but this is just the start of the journey because most of the definitions will not be quite right.

[2018-08-07 22:26] BlueFinBima opened #85 "0805 level cannot load lua52.dll"
Looks like
`8/7/2018 4:53:43 PM - All - Helios Version 1.4.2018.805
8/7/2018 4:55:21 PM - Error - Binding threw unhandled exception. (Binding="when Caution Panel YAW SAS on DCS A10C changes set indicator on Indicator 14 to  trigger value")
Exception Source:KeraLua
Exception Message:Unable to load DLL 'lua52': The specified module could not be found. (Exception from HRESULT: 0x8007007E)
Stack Trace

[2018-08-10 11:46] BlueFinBima commented on #85
@yzfanimal 's testing confirms that this issue with the lua52.dll not loading has been resolved by changes to the MSInstaller project in the Release Branch.

[2018-08-10 11:46] #85 closed

[2018-08-11 03:04] yzfanimal commented on #14
This link could be relevant?
https://stackoverflow.com/questions/28174320/avalondock-2-0-adding-layoutdocument-not-working-after-deserialize-layout

[2018-08-29 12:07] BlueFinBima opened #86 "Export.Lua chaining for multiple interfaces"
The scenario I envisage is one or more profiles running on different remote devices, and each needing their own export.lua.  Currently the Exports.lua for an interface do not really play nicely with other exports so it would be great if there was functionality to insert the helios version of exports.lua into an existing chain

[2018-09-02 17:28] BlueFinBima opened #87 "Aircraft Isolation"
I am now unconvinced that aircraft interfaces and artifacts should be in Helios.dll.  I seem to recall that in earlier levels of Helios they were optional installs.

Does it make sense to have each aircraft in it's own DLL?

I'm thinking that if we can isolate the aircraft specific info from the mainstream Helios it might make it easier for others to contribute aircraft,

[2018-09-08 10:41] BlueFinBima opened #88 "Missing Zoom in Profile Editor"
Duplicate of https://github.com/Gadroc/helios/issues/6 .  Zoom functionality needs to be implemented for monitors and panels

[2018-09-10 18:48] BlueFinBima commented on #88
fixed in https://github.com/BlueFinBima/helios/commit/561cfe1780908c02159fa4371799a9a68d3ee4f4

[2018-09-10 18:48] #88 closed

[2018-09-12 13:21] BlueFinBima opened #89 "Installer creates shortcuts which run installers !?!?!"
The desktop shortcuts created do not have a target of the installed exe.  Instead they fire up the installer in temp.  Maybe the shortcut is to the exe in the install package rather than the ones that have been layed down on disk.

[2018-09-12 13:25] BlueFinBima opened #90 "32-bit Control Center does not exist"
Without a 32-bit Control Center, network attached devices implementing partial cockpits using cheap Windows devices such as Linx tablets cannot be used.

[2018-09-12 13:28] #72 closed

[2018-09-13 19:01] BlueFinBima opened #91 "Implement a CZ Exclusive Interface."
This is to investigate the creation of a generic interface for CZ and  others.

[2018-09-15 09:16] BlueFinBima opened #92 "Verify Hornet Device list - it might have changed"

[2018-09-15 09:17] BlueFinBima opened #93 "Code signing - Decide if/how to do this"

[2018-09-16 15:49] BlueFinBima opened #94 "Gadroc Todo: Switch from Old Managed DirectX so SharpDX"

[2018-09-16 15:49] BlueFinBima opened #95 "Gadroc Todo: Move images out of assembly into filesystem"

[2018-09-16 15:49] BlueFinBima opened #96 "Gadroc Todo: Split Helios Assembly into Helios and HeliosUI (Move all dependencies on WPF to HeliosUI)"

[2018-09-16 15:50] BlueFinBima opened #97 "Gadroc Todo: Fix save/load crash bug on EOS servos"

[2018-09-16 15:51] BlueFinBima opened #98 "Gadroc Todo: Add exe scanning for CMSC, CMSP, Radio and PUI-800 (from forums)"

[2018-09-16 15:51] BlueFinBima opened #99 "Gadroc Todo: Fix value interpretation on lua expressions (Frank bug)"

[2018-09-16 15:51] BlueFinBima opened #100 "Gadroc Todo: Merge all DCS export.lua into one"

[2018-09-16 18:36] BlueFinBima opened #101 "Installer only creates advertised shortcuts."
The installation package needs to have  'DISABLEADVTSHORTCUTS' = '1' in the msi database.  Need to work out if I can do this as part of the post build activities.

[2018-09-16 18:39] BlueFinBima commented on #101
Enter this as a post build event
cscript //nologo "$(ProjectDir)WiRunSql.vbs" "$(BuiltOuputPath)" "INSERT INTO Property(Property, Value) VALUES ('DISABLEADVTSHORTCUTS', '1')"

Copy the WiRunSQL.vbs file into your installation project directory

WiRunSQL.vbs can be found here https://raw.githubusercontent.com/Excel-DNA/WiXInstaller/master/Source/WiRunSQL.vbs

[2018-09-16 18:39] #101 closed

[2018-09-16 19:09] BlueFinBima commented on #89
This is a duplicate of https://github.com/BlueFinBima/helios/issues/101

[2018-09-16 19:09] #89 closed

[2018-09-23 07:05] BlueFinBima commented on #16
@captzeen magicked up the code of 179 for this.  Interface adjusted.  Just need to test.

[2018-09-23 07:08] BlueFinBima commented on #12
Thanks to @captzeen who determined that the code for the turn indicator was 652 and the "Off" flag as 654.  Trying to remember my xaml to add in the Off flag in the Slip Turn instrument (in the ADI directory).

[2018-09-24 11:51] BlueFinBima commented on #12
So the interface code has now gone in to the interface (along with some new name changes).  The embedded Slip / Turn instrument has been rewritten and the warning flag has been added (I realise that the graphic orientation could be better).
I have also changed the sample AV-8B profile to bind the Slip / Turn indicators and the warning flag.  It just needs to verify that the interface works.

[2018-09-24 19:13] BlueFinBima commented on #16
@yzfanimal  This is the Water Flow indicator that should now be working ![image](https://user-images.githubusercontent.com/18526232/45973369-26694400-c036-11e8-89b9-05806f05baa4.png)

[2018-09-24 19:15] BlueFinBima commented on #12
@yzfanimal  This is the Slip / Turn indicator that should now be working.  ![image 1](https://user-images.githubusercontent.com/18526232/45973455-7811ce80-c036-11e8-91aa-e7a607a6f32f.png)

[2018-09-26 18:54] BlueFinBima opened #103 "GuardedSwitch Cleanup"
GuardedSwitch has been implemented to provide a versatile guard cover.  It is based on Guarded Toggles, but for the GuardedSwitch there should be no need for the switch functionality to remain.  It has been left in to ensure that the activation areas allow an underlying pushbutton or the like to function once the guard is up, so removal of the switch code needs to be done with care to ensure that

[2018-09-26 21:14] BlueFinBima commented on #92
Looks like it is good for now.

[2018-09-26 21:14] #92 closed

[2018-09-26 21:16] BlueFinBima commented on #81
Change of name is good enough for now.  If there are more changes then this should be looked at again.

[2018-09-26 21:16] #81 closed

[2018-09-26 21:18] BlueFinBima commented on #37
Looks like there might be a coincidence with investigations relating to gstreamer. @damien022 looking into this for simpit, but it would be great if Helios could benefit as well.

[2018-09-27 12:46] BlueFinBima opened #104 "Installer does not honour the installation location"
1 - When i installed the first time i chose a new folder ("helios2") in the browser, i checked the path before click on continue, but when helios is installed it is located in the  folder "helios".

2- When opening the control center in the window says 1.4.2018.926 (Beta 3)

[2018-09-27 12:48] BlueFinBima commented on #91
ok, tested the Helios 1.4.2018.0926 Beta 4 version.
Everything looks good, i tested the new mi-8 profile, the old KA50 and the F/A18C. All of them works well.

i loaded aswell the tree profiles on the helios editor, and everything looks ok.

[2018-09-27 12:48] #91 closed

[2018-09-27 21:02] BlueFinBima opened #105 "Installer Project Cleanup"
The installer project has a "Gadrocs Workshop\Helios" structure under "application Folder" which resists attempts to delete it.  This does not appear to create the directories in the installed image, but it would be nice to clean these up.

[2018-09-27 21:18] CaptZeen commented on #104
Tested in the last version, issues solved.

[2018-09-27 21:18] #104 closed

[2018-09-28 18:09] BlueFinBima opened #106 "Helios crashed when the settings file is corrupted"

[2018-09-29 14:55] BlueFinBima opened #107 "Changing Serial Port in EOS Interface Profile Editor Exception(s)"
System.IO.IOException from the latest test (I did not have anything on the com port so maybe it is trying send something and has no exception handling....

System.UnauthorizedAccessException was unhandled
Message: An unhandled exception of type 'System.UnauthorizedAccessException' occurred in System.dll
Additional information: Access to the port 'COM3' is denied.

This test was when I was running

[2018-10-05 21:41] yzfanimal commented on #12
Appears to be working properly.  I have tested it several times and it looks right.

[2018-11-20 20:47] BlueFinBima opened #108 "Restructure Export.Lua framework"
Restructure Export.Lua so Helios supports multiple Exports per Aircraft to independent Controle Centers  and simultaneous installation of multiple Aircraft.  In concept, there would be a small generic Export.lua with no exports in it, but it then dynamically links in Exports for the specific aircraft.

This is contrary to https://github.com/BlueFinBima/helios/issues/100 where Gadroc was going to h

[2018-11-21 14:32] BlueFinBima opened #109 "MiG21 Exports File needs sorting out."
Looked into this recently and it is a composite Exports.lua file within the aircraft interface structure.  This should get cleaned up to make sure that it does not break the new Exports structure

[2018-11-21 15:02] BlueFinBima commented on #108
The current Export.lua file used globals all over the place and does not play nicely with other exporting scripts.  I cannot see any good reason for the use of globals, other than it was quick, however the work of exports for Helios has moved on in so many directions, having a single approach which does not upset other scripts seems unlikely.  There is also the problem of one script being used for

[2018-11-21 15:02] BlueFinBima commented on #108
Didn't mean to closed the issue :-(

[2018-11-21 15:16] BlueFinBima opened #110 "FC2 Exports.lua has been truncated."
tripped over this one.  The FC2 Exports.lua has been truncated and is invalid.

[2018-11-21 15:18] BlueFinBima commented on #110
Fix put in to make the file valid, but I want to pull all of this out to have the file replaced by the new model shortly.

[2019-01-01 23:24] ZoeESummers opened #111 "Helios Refresh Rate too low"
1. Needles lag significantly.
2. When turning on-screen knobs, the lag is so pronounced that even the slightest touch means the gauge rotates seemingly on it's own for far too long (e.g. Huey ADF/VOR gauge).

Even with a 5.0Ghz, 64GB Ram, 1080Ti and only two monitors (one a 23" Hann-G Touchscreen) the lag is atrocious. This isn't a 1.4 issue - it was just as bad in 1.3, but this really needs to be

[2019-01-02 08:30] BlueFinBima commented on #111
Hi Zoe,
Do you see this lag with the A-10C which uses a native interface?  If not, then I have to conclude that the lag is due to the way your Huey profile and gauges had to be implemented without a native interface.  Helios now has a generic interface which might help, if the profile is rewritten to work with this.  I suggest that you contact the author of the Huey profile to discuss your experie

[2019-01-02 09:09] CaptZeen commented on #111
Hello all.
The UH1H profile was made it using the old FC2 helios interface.
And all the outputs are done directly by key commands. So the permormance was to bad, and of course the refresh rate of the key commands depend directly from the key repetition time in windows.

The good news: i am working right now in the new UH1H v2.0 using the new general purpuse interface, so soon, the new version is g

[2019-01-03 08:35] BlueFinBima commented on #111
Thanks for the better description @CaptZeen and for the update on the Huey V2.0 profile.  I have flagged this as an uncommitted enhancement for a dedicated UH-1H interface, but if the generic interface combined with your V2 is sufficient to address the immediate problem, then it is unlikely that this enhancement will ever get sufficient priority to get done.

[2019-01-29 19:44] BlueFinBima opened #116 "Keyboard Interface is not working correctly with Press / release. There may be other problems also."
https://forums.eagle.ru/showthread.php?t=230934
Send Keys: seems to work
Press Key:  Has the same results as Send Keys
Release key:  Same as CZ says - Who knows

I've gone back to Gadroc's final code on GitHub and it has the same problem.  I get the same results on 10 and 8.1.

[2019-01-30 17:04] BlueFinBima commented on #116
@damien022 and I have put a lot of work into debugging and understanding the Keyboard interface.  Sendkeys works as we originally expected it to, and although there was a lot of initial confusion about the Key up/down we have also confirmed that this is also working as the API intends and various articles suggest keyboards should work.  Damien has also confirmed the same test results with 1.3.190.

[2019-01-30 17:04] #116 closed

[2019-02-25 01:22] strafer008 opened #117 "Reset Monitors Causing Loss of Bindings"
I have 2 small issues with Helios. First one, is that I use a 4k tv for main monitor and even though I can do the profile side of things on the 4k at normal scaling which is 300%. I cannot get Helios to display the profile on a 1080p monitor with the 300% scaling. I have to change the scaling in Windows 10 to 100% which makes everything super tiny. I do have a work, which is reboot with 100% scali

[2019-02-25 12:17] BlueFinBima commented on #117
Hi Strafer008,
Sorry to hear about your problems.  I'll try and restate your problem using "Profile Editor" and "Control Center" instead of "Helios" to see if I understand the problems.
1)  In Profile Editor, you create a profile on your 4K TV using windows scaling set at 300% with the intent that it will eventually be displayed by Control Center on a different 1080p screen at 300%?  Control Centr

[2019-02-25 13:40] strafer008 commented on #117
Hello BlueFinBima,
  Thank you for responding so quickly. The scaling issue is not that big of a deal to me, since I have a work around for it. Now the new problem I have is with the 3 monitor setup. As long as I only have 2 monitors connected to the system, Helios and DCS work perfectly together. The 4k tv is primary and #1 and the touch screen is below the primary and #2 in the settings. As as s

[2019-02-25 23:13] BlueFinBima commented on #117
There is only the one file that counts and it is the .hpf.  If I had to guess, then some parts of the profile are sticking to the original monitor when they are moved.  When you say that you are changing the monitors in notepad++, do you mean you are doing a replace all?  This is what you should be doing.  So to swap monitor 2 and monitor3 requires  three substitutions to be done.  A replace all f

[2019-02-25 23:24] BlueFinBima commented on #117
I'll also have a look at what the captain says in case it holds some clues.  Really you should not need to be using notepad++ to sort this out.  Reset monitor should do the work for you.
BTW, I would guess that the white screen is probably a Helios background being displayed on the wrong monitor.

[2019-02-26 00:14] strafer008 commented on #117
Hello again, and thank you for responding. It is the .hpf file I am changing, and doing a replace all, and it comes up with over 2000 changes if I remember right. I only working with the Loz profile on Capt. Zeen's website for the A-10c at the moment. Capt. Zeen's faq said to use notepad ++ to make the changes. I thought this to be odd, I was assuming that Helios should change the numbers itself.

[2019-02-26 20:19] BlueFinBima commented on #117
Wibble is just a temporary name to use to avoid an overwrite.  Basically you cannot swap monitor 2 and monitor 3 without using a temporary name "Wibble" was just the name I chose since it is unlikely to appear anywhere else in the profile.
Helios should be able to change the numbers itself.  CZ seems to be aware of problems that I've not observed.  I'm certainly not saying there isn't a problem lu

[2019-02-26 20:20] BlueFinBima commented on #117
@CaptZeen Does this right any bells with you?

[2019-02-26 22:55] strafer008 commented on #117
Hello,
  Here is an update. I switched the hdmi cables, and Windows loaded the monitors the way I need for Helios to work. So now monitor #2, which is the touch screen, is below #1, and monitor #3, is to the side of #1. I deleted and setup a new Loz A-10c profile, which I had made some changes to, and started the profile with Helios. Everything works great, except I still have the white screen pro

[2019-02-27 08:51] CaptZeen commented on #117
Hello all.
Sorry for the delay, those days are become crazy in my work, and i don't have to much spare time.

Ok, lets see what i know about this problem. It never happen to me, because i only have two monitors, but a lot of people come to me with that problem when they use 3 or more monitors.
And i found two cases:

1- After reset monitors, Helios editor create a new porfile, with all the art in

[2019-02-27 08:55] CaptZeen commented on #117
For the problem with the white panel on monitor 3, please send me the profile file, and i can take a look to see what is happening.

Thanks!

[2019-02-27 17:35] BlueFinBima commented on #117
Just done some testing. (Spoiler: I caused a binding problem and the background not moving is working as designed).

### Test 1
Test setup:  Created components on Monitor 2 and also on Monitor 3.  I then bound them to an interface.
1) Test:  Reset Monitors  1->1 (scaled); 2 -> 3 (scaled); 3-> 2 (scaled)
      Results:
      Visual Components moved from monitor 2 to monitor 3 and vice versa
      B

[2019-02-27 17:47] strafer008 commented on #117
If I am reading your post right, then it appears there could be an issue with the Loz profile? My other thought is, could there be registry entries from the original version of Helios interfering with the new version? When I uninstalled the original version, I made sure that the Helios folder in the install directory was deleted, and also the Helios folder in the Documents directory as well. Howev

[2019-02-27 17:56] BlueFinBima commented on #117
@strafer008 While a problem with Loz is one valid conclusion from the test results, I don't think it is the most likely.  I think I exposed a problem with Helios.  In this instance, I don't think there is something lurking in the registry that is upsetting Helios.  The Loz profile has some transparent areas in it's background (which would allow you to see the desktop through an MFD as an example,

[2019-02-27 18:02] BlueFinBima commented on #117
This is how I personally would fix the Loz A-10C profile.
[Loz SM V2.1a.zip](https://github.com/BlueFinBima/helios/files/2911641/Loz.SM.V2.1a.zip)

[2019-02-27 18:27] BlueFinBima commented on #117
My recreate scenario is as follows:

Open stock Loz  SM V2.1.hpf
Reset Monitors
![image](https://user-images.githubusercontent.com/18526232/53513079-41942000-3abc-11e9-9c37-d40ff9590692.png)
Reset Monitors again
![image](https://user-images.githubusercontent.com/18526232/53513157-6f796480-3abc-11e9-86b8-357b7f24aca7.png)
This should show no visual components in Profile Explorer
![image](https://us

[2019-02-27 18:36] BlueFinBima commented on #117
Debug option is showing 100's of these types of messages.

[2019-02-27 18:55] BlueFinBima commented on #117
@strafer008 I think that this may be a temporary work around for the problem.
Open the original profile (which only has two monitors
Open the Reset Monitor's Dialogue
Assign 1->2 and 2->1 or even 1-> & 2>2.  Do not assign to any monitor higher than 2
Save the profile
open the profile you just saved
You should now see in profile explorer your third monitor although it will not have any visual compo

[2019-02-27 18:57] BlueFinBima commented on #117
Not sure when we'll get around to diagnosing and fixing this, but it does need fixing.

[2019-02-27 19:09] strafer008 commented on #117
@BlueFinBima
  The fix you listed above, is that for the white screen on 3rd monitor? That is the only issue I am having at the moment, because all the bindings and graphics are working like they should with all 3 monitors connected. Switching the hdmi cables on the 2 monitors resolved that issue. The other thing I haven't tried yet, since the monitor number issue is fixed, is starting the profile

[2019-02-27 19:14] BlueFinBima commented on #117
White screen I am assuming is a background issue.  What I describe above is for the third monitor not working with DCS.
Attach the profile which shows the white screen and I'll take a quick look at it.

[2019-02-27 19:32] strafer008 commented on #117
I will be home from work in about 2 hours and I will upload the Loz profile I am using. I just need the 3 rd monitor to be left alone by Helios so I can put a pdf on it with checklists. Helios should only be using monitor 2 and DCS monitor 1. Thanks again for your help.

[2019-02-27 20:17] BlueFinBima commented on #117
I will also need to know the monitor numbers that Windows knows, and the monitor numbers that Helios knows them by.

[2019-02-27 21:27] strafer008 commented on #117
@BlueFinBima
Hello,
  The monitor numbers match now between Windows and Helios. Monitor #1 is top 4k at 3840x2160, and monitor #2 is below monitor #1 with left side edges aligned, it is the touch screen, and 1920x1080, and monitor #3 is on the right top edge of monitor #1 at 1920x1080.  I will attach the 4 files for the Loz profile.
[Loz  SM V2.1.zip](https://github.com/BlueFinBima/helios/files/29

[2019-02-27 21:48] strafer008 commented on #117
@BlueFinBima
I just loaded your profile, and set it up with reset monitors, and it does the same thing, by putting a white screen on monitor #3.

I loaded the profile back into the profile editor, and went to profile explorer and double clicked monitor 3. In the upper right corner of the screen is a check box for background, and it was checked. I unchecked this box, saved the profile, and then ran

[2019-02-27 22:26] BlueFinBima commented on #117
@strafer008 Glad you're moving forward again.  The background problem, while the biggest issue for you, is actually the simplest of the issues you experienced.  The loss of the bindings is more serious, but we'll get it sorted.  All the best!

[2019-02-27 23:04] strafer008 commented on #117
@BlueFinBima
Well by switching the hdmi cables that seems to have fixed the binding issues, even though you found problems in the debug. I do appreciate your help, and Capt. Zeen's help as well. Thank you both for your help with the issues I was having. If I can ever help you guys in any way just let me know.

[2019-03-05 01:02] unknown-acolyte commented on #87
I like the idea of having them isolated.  I'm currently playing with the UH-1H in a fork and it's a task to make sure you cover everything.

[2019-03-05 07:50] BlueFinBima commented on #87
@unknown-acolyte Creating an interface and the associated visual components is not an easy task as we have all found out.  I think the holy grail is not simply isolation into a dll, but an interpreted interface so that new aircraft do not need to be compiled into Helios. We're a long way off even starting activities in this area.
Obviously we now have a generic interface, which pushes the work int

[2019-03-10 01:03] Feebleeagle opened #118 "Helios 1.4 not working with OpenBeta"
Hi Guys,
I am noob at Helios for starters, and maybe screwed something up. I had both Stable and OpenBeta version installed. I normally use open beta, and use stable for testing very noob stuff.
I installed Helios 1.4, as per tutorial video part 1 and 2, I made a profile with three gauges for black shark. Started the stable version, it worked fine. When i am away from home I have a different scree

[2019-03-10 08:11] BlueFinBima commented on #118
Hi @Feebleeagle,  sorry to hear about your troubles.  I'm not sure I understand what is not working, but I suspect your problem relates to the exports.lua that Helios Control Center relies on to pass it information from DCS.   This lives in %userprofile%\Saved Games\DCS.openbeta\scripts (for Open Beta) and %userprofile%\Saved Games\DCS\scripts for Stable.  The Exports.lua needs to be in both of th

[2019-03-12 07:49] BlueFinBima opened #119 "Hornet F/A-18C Interface Not Finding DCS Install Directory"
Problem with the code that finds the DCS install directory which results in the interface not being able to be  deployed.

[2019-03-12 07:57] BlueFinBima commented on #119
All interfaces should look for registry keys in the following order

1. DCS World
2. Aircraft
3. DCS WORLD OpenBeta
4. DCS World OpenAlpha

[2019-03-12 08:23] BlueFinBima commented on #119
Fixed in https://github.com/BlueFinBima/Helios/commit/85b2e88b946b7076e2bf8c44ad10d29c1115e974

[2019-03-12 08:23] #119 closed

[2019-03-12 08:28] BlueFinBima opened #120 "Version Checker goes to an old file on Gadroc's site."
I'd disabled the version checking because it did not work due to an old version of the version.xml file being on Gasdroc's site.

[2019-03-12 08:32] BlueFinBima commented on #120
Reimplemented the Version checker using a file on GH-Pages, and converted to use HTTPS.  https://github.com/BlueFinBima/Helios/commit/497b37f920d4b71aa3a9650e0f90a8e4eec473d4

[2019-03-12 08:32] #120 closed

[2019-03-12 08:36] Feebleeagle commented on #120
I have just installed the latest version 1.4, I have never used Helios
before that. I have both alpha and beta, it worked fine with alpha, but not
with beta.

On Tue, Mar 12, 2019, 19:31 BlueFinBima <notifications@github.com> wrote:

[2019-03-12 17:00] BlueFinBima commented on #118
This was posted by @Feebleeagle to the wrong issue.  Moving over here and deleting the update in Issue 120

before that. I have both alpha and beta, it worked fine with alpha, but not
with beta.

[2019-03-12 17:06] BlueFinBima commented on #118
Hi @Feebleeagle,  DCS communicates with Helios with an Exports.lua file in the ...\Saved Games\DCS World OpenAlpha\Scripts\ directory.  By default Helios only puts the Exports.lua file in a single location which is described in a particular registry key.  From your description you have the Exports.lua in  ...\Saved Games\DCS World OpenAlpha\Scripts\ but it is not in  ...\Saved Games\DCS World Open

[2019-03-21 08:27] BlueFinBima opened #121 "1.4.2019.0317 on Windows 7 Throws "System.Windows.Markup.XamlParseException" on CC Startup"
1.4.2019.0317 on Windows 7 Throws "System.Windows.Markup.XamlParseException" on CC Startup
This happens with .net 4.7.2 also.   Inner exception is System.IO.FileNotFoundException "Could not load file or assembly 'HeliosControlCenter, Culture=neutral' or one of its dependencies.

Probably a build problem, but unclear why this is not happening on 8.1 and 10

[2019-03-21 08:34] BlueFinBima commented on #121
Raised here https://forums.eagle.ru/showpost.php?p=3848706&postcount=97

[2019-03-21 20:09] BlueFinBima commented on #121
I'm going to assume that this is fixed by https://github.com/BlueFinBima/Helios/commit/d877cd4c2f68623b325ba8380bd1669ef0d4bdff .  The circumvention is to Enable Aero Desktop.

[2019-03-21 20:09] #121 closed

[2019-03-27 08:06] BlueFinBima opened #125 "Deserializers intolerant of unrecognised attributes in profile."
Implementation of @derammo 's click suppression highlighted that both control center and profile editor are too picky about unrecognised options.  Ideally Control Center should just ignore, and profile editor should show a message warning of potential loss of features if the profile is saved.

[2019-03-27 08:25] #16 closed

[2019-03-27 08:25] #12 closed

[2019-03-29 07:24] BlueFinBima commented on #125
Looks like this is worse than first thought as Gadroc has put a "REVISIT" tag in some of this code because it assumes a particular element order (see line 196 in Helios\Monitor.cs)

[2019-03-29 12:11] derammo commented on #125
I put that REVISIT tag there, because this isn’t how you are supposed to read XML

Sent from my iPad

On Mar 29, 2019, at 03:24, BlueFinBima <notifications@github.com<mailto:notifications@github.com>> wrote:

Looks like this is worse than first thought as Gadroc has put a "REVISIT" tag in some of this code because it assumes a particular element order (see line 196 in Helios\Monitor.cs)

—
You are

[2019-03-31 09:52] BlueFinBima commented on #125
@derammo no argument about this code not being great.  I just made an incorrect assumption about the origin on the comment.  Happy to assign this issue to you if you want to sort it out ;-)

[2019-04-01 00:09] BcCamel opened #126 "Cannot send input to Falcon BMS"
I'm using Helios with Falcon BMS. I am using Ice's Single Monitor setup with Yame64. I cannot send any input to Falcon BMS through the Helios application. For example if I click the parking brake on in helios there is no change in Falcon BMS. If I click on the parking brake in the Falcon BMS cockpit the helios parking brake will switch to on. Yame64 works with no problems without helios.
I have tr

[2019-04-01 19:13] BlueFinBima commented on #126
@BcCamel It sounds like Helios has dropped some bindings from your profile.  Apart from installing BMS about 5 years back, I have no understanding of that environment.  https://github.com/BlueFinBima/Helios/issues/117 is a problem where Bindings get lost.  Could you have a read and see if it is possible that your problem is the same as that one?

[2019-04-15 15:18] derammo opened #129 "remove dev (lower case) branch from repo"
there is an old branch forked from Gadroc's repo called 'dev' (note lower case) which has nothing useful in it as far as I can tell

removing it would be nice to avoid confusion and merging errors

[2019-04-15 15:22] derammo commented on #125
existing Helios installs out there don't have code that survives extra XML tags, so even if we fix this, it does not give forwards compatibility to existing installs

the only thing I have come up with so far is to simply not persist the value if it is not changed from the default, then a new profile will work for old installs, as long as it does not use whatever new feature is introduced (probabl

[2019-04-16 06:43] BlueFinBima commented on #129
Deleted

[2019-04-16 06:43] #129 closed

[2019-04-16 06:54] BlueFinBima commented on #125
@derammo This was more about making a new release of Helios's XML parsing more tolerant, I realise that not much can be done for the people out there other that being careful about not saving unchanged values.  Simply tidying up the XML parsing will have a big benefit in this area.

[2019-04-16 07:02] BlueFinBima opened #130 "Isolated Reset Monitors"
This is related to https://github.com/BlueFinBima/Helios/issues/125 .  For most people all they will want to do is a reset monitors on someone else's profile built at a higher level of Helios.  If we drop unrecognised parameters from that profile then this could cause an unnecessary divergence if the user makes some changes to their copy of the profile.  It would be polite to be able to reset moni

[2019-04-16 07:34] BlueFinBima opened #131 "Simulate NVG-Safe Cockpit Lighting"
I'm thinking an RGBA parameter at the monitor level to simulate NVG-Safe lighting.  This might need a binding point in the profile interface to allow lighting knobs in the cockpit  to control the values.
An extension to this might be to build on @derammo 's IFEI reflection and instead of the colour overlay, have multiple images as overlays, each with their own opacity settings to allow different a

[2019-04-16 11:57] BlueFinBima opened #132 "DTSCard deprecated warnings for HidDevice"
No idea what this is, or who uses it, but it will get removed at some point so something needs to be done to either replace it or remove DTSCard support.

1>\Helios\Interfaces\DTSCard\DTSCard.cs(50,17,50,32): warning CS0612: 'HidDeviceLoader' is obsolete
1>\Helios\Interfaces\DTSCard\DTSCard.cs(50,52,50,67): warning CS0612: 'HidDeviceLoader' is obsolete
1>\Helios\Interfaces\DTSCard\DTSCard.cs(50,48

[2019-04-16 13:36] derammo commented on #131
could I own this for a few days please?   I am investigating related tech and don't want to duplicate effort

[2019-04-16 18:19] derammo commented on #132
brydling's DTS Converter http://forums.eagle.ru/showthread.php?t=112902

fear my Google-fu

[2019-04-17 06:52] BlueFinBima commented on #131
Having done a couple of tests with ARGB colour overlay, the results I got were not convincing.  Images with radial filled ellipses were an improvement, but not sure that this isn't also going to be a dead end.  For this to work, we're probably talking about a relatively sophisticated colour adjustments - eg lowering reds and blues, boosting greens and forcing the highlights.

[2019-04-17 12:19] derammo commented on #131
Yes, I am using a couple of PS3.0 pixel shaders.  They should offload to the GPU.   When I am done, I will measure how they do when rendering in Software and turn them off per-monitor if software rendering is used.   Helios already has code in it to try to detect software rendering.

[2019-04-17 13:45] derammo opened #133 "Direct access to Warthog HOTAS LEDs"
There are 5 extra LEDs plus the backlight on the Warthog HOTAS.   These can be programmed via the Thrustmaster T.A.R.G.E.T software, which I believe is just a USB driver.   Assuming that the lights are actually turned on from the USB composite device driver, rather than by code actually running inside the HOTAS, we should be able to make a Helios Interface device for them.  That way, they could be

[2019-04-17 14:46] BlueFinBima commented on #133
Hi @derammo ,  I didn't make much progress on this when I poked around this topic some time ago, but there must be a non-HID device running over the USB to control these.  I'd be tempted to see if there is any info about how fancy gaming keyboards work, because they are both HID and have the need data to be sent to them - maybe Thrustmaster take a similar approach.
Some of the LEDs from Thrustmast

[2019-04-17 14:47] BlueFinBima commented on #133
@derammo could you please assign new defects to the Helios 1.4 project?

[2019-04-19 09:18] BlueFinBima commented on #133
Never knew you could use wireshark for USB.  Interesting.....
Cougar MFD:
LED1  URB_CONTROL packet length 2 CTS=1 Data  0x0002 (on)
LED2  URB_CONTROL packet length 2 CTS=1 Data  0x0001 (on)
Display intensity URB_CONTROL packet length 2 CTS=1 Data  0x01nn  (nn = 8bit intensity value)

[2019-04-19 17:46] derammo opened #135 "BaseDeserializer.DispCreateNewObject crashes for unknown objects"
typeid introduced by later version of Helios (like new controls) will crash earlier Helios when loading the profile, instead of politely ignoring the unknow control

[2019-04-19 17:58] BlueFinBima commented on #135
Isn't this just a variant of https://github.com/BlueFinBima/Helios/issues/125 ?

[2019-04-19 18:00] BlueFinBima commented on #135
but you have now encountered the challenging world of Helios error handling ;-)

[2019-04-19 18:53] derammo commented on #135
this is different because it is about the typeIds that are used in the XML.   new (or really old) classes being referenced should not crash the thing.   It probably will still freak out on any bindings that reference things that are no longer there, but I will file that separately if it happens,

[2019-04-20 01:39] derammo commented on #133
cool!   could you attach the packet capture here please, for future reference?

[2019-04-20 05:54] BlueFinBima commented on #133
Looks non-trivial to send a control transfer from c#.  For reference https://docs.microsoft.com/en-us/windows-hardware/drivers/usbcon/usb-control-transfer .  I will recrete and add the pcap for the MFD (the HOTAS is not on the machine where wire shark is installed)

[2019-04-20 07:15] BlueFinBima commented on #133
The actions I was taking are commented.
[Settng LEDs on TM MFD.zip](https://github.com/BlueFinBima/Helios/files/3099843/Settng.LEDs.on.TM.MFD.zip)

[2019-04-26 21:03] BcCamel commented on #126
I had checked out that post. I ended up building a new profile by copying the existing elements of the profile I was trying to use and pasting them into a new profile, which included the input and output bindings. On occasion an input in Falcon will be reflected in the Helios windows, but no outputs are transacted, an I still have to alt tab out of the game window to click on any of the Helios con

[2019-04-28 06:40] BlueFinBima commented on #126
Hi @BcCamel , Happy to take a look at the profile if you attach it.  I presume that the profile works OK with Helios 1.3?  Can you confirm this please.

[2019-05-01 01:47] BcCamel commented on #126
Hi BlueFinBima,
I tried installing Falcon 4.34, didn't seem to help. Now I can't get Yame working. But Helios seems about the same. I've attached the profile for you to check out. I realize now that it is going to take some work, at least with the inputs. But it still seems that Helios is not connecting to Falcon BMS. The Helios window does not ever become incorporated with the Falcon window. So i

[2019-05-01 07:28] BlueFinBima commented on #126
Hi Bruce,  having reviewed this whole post, I think I need to cover some basics.

1. Have you ever had Helios and BMS working togather?
1.1 If yes, what was the last release of Helios where your system worked as you expected?
1.2 If no, I think someone with more knowledge of BMS would be appropriate.  Maybe contacting Ice on SimHQ might prove a more productive way to get your setup working.
2. Hav

[2019-05-03 00:07] KiwiLostInMelb opened #137 "Features - merging from old code base - Mainly Phigits fixes and send keys"
Hi All,

I made a few changes to Helios in the past for various functions.
I use Helios on a separate PC to the SIM - more screens, etc.  I dont use glass as all instruments are physical.

I have added the following functions:
- Fixed phidgits crasing on startup and closure - may already have been fixed looking at the comments
 - Added events for startup, connect aircraft and shutdown - used for r

[2019-05-03 00:44] BcCamel commented on #126
Hi BlueFinBima,

No I've never gotten Helios and Falcon BMS working together. I'll probably breakdown and build a little something from scratch.
I did go through the steps on blogspot to make sure the correct key files were loaded. It didn't seem to make any difference.

I'll try to see if I can find Helios 1.3 to download and try to see if that makes a difference. And try to contact Ice to see if

[2019-05-03 06:25] BlueFinBima commented on #126
Hi Bruce, If this has never worked, then definitely seek advice from Ice.  There is a link to a download of the old Helios on this page http://www.captzeen.com/helios/downloads.asp .  There seems to be a few videos on Youtube that might help https://www.youtube.com/watch?v=l0nkuwTTeL4 is an example.  If they don't have answers then at least they give you someone to contact who has it working.
I'm

[2019-05-03 06:25] #126 closed

[2019-05-03 11:47] BlueFinBima commented on #137
@KiwiLostInMelb Welcome!  Some very useful features in there.  Nobody on the team knows anything about phidgit, so once integrated, you'll have to test.  Third item will open up a Capt Zeen's profiles to a whole different audience.
The main branch is "Dev" (capital "D") but it is in a state of flux at the moment so I'll create "Kiwi_Dev" when I get home and you can do a pull request into there whe

[2019-05-04 01:46] KiwiLostInMelb commented on #137
@BlueFinBima Thanks Mate! (from an Aussie down under)

Keen to assist.  My cousin is the one who uses Helios for a long while and it is great to see dev is still happening on this great tool.  I'm the lackey who makes the changes for him, config, etc.  My WPF knowledge is pretty poor and I struggle there - why oh why not Win Forms LOL.

I just feel it is always important to give back to the commun

[2019-05-04 06:31] BlueFinBima commented on #137
Hi @KiwiLostInMelb , Kiwi_Dev has now been created. Submit a pull request with this as a destination when you're ready.  We use slack for communications, so if you drop me an email to bluefinbima@gmail.com, I can send you an invite.

[2019-05-06 11:36] BlueFinBima opened #138 "UFC Font seems to have some problems in some locales, ? appearing"
RglsPhoto, an ED Translator, has seen some problems with the Hornet UFC font https://forums.eagle.ru/showpost.php?p=3886260&postcount=154 he never got back to me, however I think this is a genuine issue because it is a problem with character codes which are mapped to national characters.
From the name of the file, I am thinking that RglsPhoto is in Taiwan or similar.
Question / Query marks appear

[2019-05-06 11:37] BlueFinBima commented on #138
![TIM截图20190418213849](https://user-images.githubusercontent.com/18526232/57222751-a491be00-6ffb-11e9-81a9-70461dda30b1.jpg)

[2019-05-14 06:52] BlueFinBima opened #140 "(CC) Unhandled Exception in BaseUDPInterface with two Aircraft Interfaces"
When a profile contains who aircraft interfaces, Contrrol Center will silently crash when an attempt is made to open port 9089 for a second time.  Unhandled exception System.Net.Sockets.SocketException is thrown on the bind in Profile_Profile_Started in BaseUDPInterface.cs.
This exception should be handled more gracefully & explicitly

[2019-05-14 07:26] BlueFinBima commented on #140
https://github.com/BlueFinBima/Helios/commit/2f2d9b22f9313de7ae30ebd2d699e29e4e5d6085

[2019-05-14 07:26] #140 closed

[2019-05-22 11:23] BlueFinBima opened #141 "Gear Handle Light in BMS Falcon not working"
Raised by -Ice in PM on ED forum.
C:\Users\xxxx\source\repos\helios\helios\Helios\Interfaces\Falcon\BMS\BMSFalconDataExporter.cs is using 33 bits ProcessLightBits2 and while this is a bug in itself, it is possibly causing the GEARHANDLE to be set in 0x80000000 instead of 0x40000000.

[2019-05-22 18:34] BlueFinBima commented on #141
Missed that "open mode indicator" isn't actually a bit so the problem isn't as suggested above.  If the other indicators in LightBits2 work, then maybe GEARHANDLE is not 0x40000000.
According to https://github.com/bogie/Falcon-BMS-Server-Status/blob/master/FlightData.h it is.  Maybe Gadroc fixed this.
Wait for confirmation that this is actually still a problem with 1.4 and has not been fixed.

[2019-06-09 17:46] BlueFinBima commented on #135
Not been able to check whether this causes a downstream problem, but closing in an optimistic frame of mind.

[2019-06-09 17:46] #135 closed

[2019-06-09 18:12] BlueFinBima commented on #137
Seems we are using TCP for the keypresses.  Done a bit of Helios-ing on the code and wrote an installer.

[2019-06-09 18:12] #137 closed

[2019-06-12 21:01] BlueFinBima opened #142 "New Keyboard TCP Interface causing failure when PE and CC are opening profiles"
Profile Editor is causing the KeyboardThread to open the Keypress TCP server and this should probably only be happening in Control Center's use of the KeyboardEmulator.
Found by @CaptZeen in testing 2019.0611.
@KiwiLostInMelb
As I see it, there are a couple of problems here.  Firstly, no attempt should be made to open the TCP port from Profile Editor.   Secondly,  there needs to be better protecti

[2019-06-12 21:02] BlueFinBima commented on #142
Observations at 1.4.2019.0611
"if you got opened the editor and then open the control center and load a profile, the control center quiets
if you got opened the control center and you open the editor and load a profile, then the editor quit

so looks like th eproblems is if you got opened the 2 programs at the same time
Yes, confirmed. Even with old profiles. if you got opened the control center,

[2019-06-12 21:08] KiwiLostInMelb commented on #142
Hmmm. Ok sorry I didnt test this. Will add logging but any ideas how to stop this opening in the profile editor?
I incorrectly assumed this would not be an issue as no client should be connected when the profile editor was up and even if it was then no presses would be sent.

[2019-06-12 21:12] BlueFinBima commented on #142
@KiwiLostInMelb No drama.... I've committed the bandaid here https://github.com/BlueFinBima/Helios/commit/0fe23ffeda94ae258fadff7e605c45241fd4a6a4 but it is a kludge.

[2019-06-12 21:15] BlueFinBima commented on #142
@KiwiLostInMelb I spent a lot of time looking at how I might avoid the bind when the code is executed from profile editor (there should be no reason why the KeyboardThread class should really get called in Profile Editor IMHO).  In the end I came up with a particularly large sledgehammer for this walnut.
System.Diagnostics.Process.GetCurrentProcess().ProcessName == "Control Center"

[2019-06-12 21:17] KiwiLostInMelb commented on #142
Bluefinbima has already added the bits I missed. Sorry guys.

[2019-06-12 21:18] KiwiLostInMelb commented on #142
Yup exe name was what i thought of using as well. Thanks heaps!

[2019-06-12 21:21] BlueFinBima commented on #142
@KiwiLostInMelb Not a big deal, but as I say, I would like another set of eyes to make sure there isn't a better way to do this, or spot anything I've messed up. If the conclusion is the Bandaid is the best we can do at the moment, then we can close this as fixed, but I didn't want to do that without you blessing this ;-)
The concern I have with System.Diagnostics.Process.GetCurrentProcess().Proce

[2019-06-12 21:42] derammo commented on #142
isn’t there a check for “if design time, ...” in a bunch of the code, with profile editor being design time?

i am away from home so i cant check right now

Sent from my iPhone

On Jun 12, 2019, at 17:22, BlueFinBima <notifications@github.com<mailto:notifications@github.com>> wrote:

@KiwiLostInMelb<https://github.com/KiwiLostInMelb> Not a big deal, but as I say, I would like another set of eyes t

[2019-06-12 21:55] KiwiLostInMelb commented on #142
@derammo found it - thank you. Will see how we can use DesignMode from HeliosObject from base class

[2019-06-15 15:12] BlueFinBima commented on #142
Having taken a look at DesignMode, this seems to indicate that a particular control is being edited but it was a good tip.  I've implemented a new flag set on entry to Control Center.  Still a little crude but I can't see why this would not be reliable.   https://github.com/BlueFinBima/Helios/commit/5c382b0c9717bc8739e4259a7143e764a0141878

[2019-06-15 15:12] #142 closed

[2019-06-15 15:14] BlueFinBima opened #143 "Version Checker needs to be toned down so that it does not run on absolutely every startup."

[2019-06-16 17:50] BlueFinBima opened #144 "Control Center Window Position not saves in HeliosSettings.xml"
<Setting>
        <Name>WindowLocation</Name>
        <Value>GadrocsWorkshop.Helios.ControlCenter.RECT</Value>
      </Setting>

Interestingly, the Profile Editor works.

[2019-06-16 19:57] BlueFinBima commented on #144
Bunch of code missing for type conversion and ToString for RECT in NativeMethods for Control Center.
Should be fixed in Commit bbac4c28.

[2019-06-16 19:57] #144 closed

[2019-06-21 07:06] BlueFinBima opened #145 "PoKeys USB Support"
Requested by https://forums.eagle.ru/member.php?u=59844
https://forums.eagle.ru/showpost.php?p=3955247&postcount=135

As the Phidgets are kinda pricy and hard to get:
How difficult would it be to add an interface for the Pokeys 57U?
Mainly (or just) the LED-Output.
Product:
https://www.poscope.com/product/pokeys57u/
The documentation seems to be very comfortable:
https://www.poscope.com/downloads/

[2019-06-21 07:13] BlueFinBima commented on #143
delivered in 1.4.2019.0616

[2019-06-21 07:13] #143 closed

[2019-07-06 13:41] BlueFinBima commented on #138
Another instance reported https://forums.eagle.ru/showpost.php?p=3970851&postcount=142 by ohc
https://imgur.com/wHjDCpf
https://imgur.com/hLfQY1v
https://imgur.com/hLfQY1v

[2019-07-06 13:43] BlueFinBima commented on #138
![image](https://user-images.githubusercontent.com/18526232/60756967-374ed900-9ffc-11e9-904a-2648947debcb.png)
![image](https://user-images.githubusercontent.com/18526232/60756975-46ce2200-9ffc-11e9-8a04-7d7147e242b9.png)

[2019-07-06 15:50] BlueFinBima commented on #138
Eventually worked out how to reproduce thus -
Language preferences -> Administrative Language Settings -> Language for non-Unicode programs -> Change system locale (to Japanese (for me)).

Test string is: 00000000*2095=M:2093=É:2092=°:2096=µ:2094=1234567:2082=~~~~:2083=]^~~:2084=~~~~:2085=test:2086=~~~~:2087=È:2088=È:2089=È:2090=È:2091=È

![image](https://user-images.githubusercontent.com/18526232

[2019-07-06 15:57] BlueFinBima commented on #138
This does not help
![image](https://user-images.githubusercontent.com/18526232/60758488-29ef1a00-a00f-11e9-829a-446565e0f206.png)

[2019-07-06 16:19] BlueFinBima commented on #138
Hmmm.... looks horrible to fix.  @damien022 is probably right that this should be translated within Helios and not in the Export.lua.

[2019-07-06 17:45] derammo commented on #138
yes I think we talked about that before. it makes little sense that the UFC control assumes it is being fed from export.lua's magic strings instead of being able to display any text, including from other interfaces

I realize there probably won't be another supported F/A-18 simulator, but it just bugs me as gross that it isn't interoperable

[2019-07-08 04:12] FlyAngry opened #146 "Text Display font size changes on loading profile"
After setting up text display boxes in editor and saving, font size will change to (seemingly) random sizes on reloading the profile.

[2019-07-08 06:39] BlueFinBima commented on #146
Hi FlyAngry,
I can't reproduce this on the latest level, and I also don't know of any changes that would have  caused a problem with this capability.  Please be aware that when you scale a text box, or a panel containing a text box, the fontsize is changed... no information about the scaling that you did is saved in the profile, so the fontsize has to change.
Could this be what is happening?

[2019-07-08 07:41] FlyAngry commented on #146
Hi BlueFinBima, many thanks for replying.

I'm currently testing out making my own Hornet profile. It's possible I'm doing something wrong. If so I hope you can point me in the right direction on setting desired text sizes!

For reference, here are steps that recreate my issue. Sorry, I should have included this in first post.

1. Create New Profile
2. Drag Text Display onto monitor
3. Set Text Di

[2019-07-08 08:39] FlyAngry commented on #146
After some more testing, it seems this only happens if I change the Display Text object size height. As long as I only change the width

[2019-07-08 08:41] FlyAngry commented on #146
Edit: Sorry, closed issue by accident.

[2019-07-08 18:28] BlueFinBima commented on #138
@derammo,  I'm not going to deny that it is gross, but some of the problems are caused by the Helios reserved characters of "=" and ":" that will always need to be remapped unless we break backwards compatibility in a big way.  I had a lengthy session with a guy who works for me who knows about such things, and he pointed out the "error of my ways" in a number of respects.  I've got a few possibil

[2019-07-08 19:29] derammo commented on #138
@BlueFinBima I think you are conflating (is that a word?) two issues:

1) There is a wire protocol between the export script and Helios which is just a bunch of text strings, using = and : to separate the value pairs, without any escaping rules.

2) In order to render the UFC text correctly, we use a custom font and some arbitrary code points for representation, so we have to have some code that u

[2019-07-08 19:31] derammo commented on #138
Backwards compatibility can be maintained by changing the protocol numbers used for all the magic UFC values.   If data comes in using the old codes because the user has an old export.lua, we can have NetworkValues that deal with the old stuff.   If you install a fresh export.lua, it would only use the new codes that use the general escaping mechanism and none of the DCS-side font mapping stuff.

[2019-07-08 20:02] derammo commented on #138
let me try again to simplify, just thought of a better one while taking out the trash :)

How about the wire protocol is changed as follows:

a) ':' in a data value is escaped as '::'
b) '=' is interpreted as the separator between the code and the value, but additional '=' may appear in the value.   We know these aren't separators because we haven't hit the end of the value yet (see below)
c) the

[2019-07-08 23:10] BlueFinBima commented on #138
@derammo thanks for the thoughts and extra detail.  Re the wire, I can see that what you suggest could work and addresses the problem of the = & : relatively simply.  I believe the data coming in is essentially encoded as 1252, (at least at the moment) but if DCS only pumps out ASCII, then we can escape by or'ing with 0x80.  Either way, we have a way to transmit the data.
My strong preference is t

[2019-07-08 23:55] derammo commented on #138
@BlueFinBima I don’t think you would need any magic encoding to get to glyphs in the font.   The normal text would be sent as normal text (things like ‘LAT’, ‘ATTH’, ‘1234’, etc.).  If there are special symbols you want to reference then yes, these would likely be represented by an escape sequence that is meaningful only to the UFC control.  In other words, if you sent that value to a normal text

[2019-07-09 11:16] BlueFinBima commented on #138
@derammo, as you say, normal text is fine, the special casing relates to the fact that there are 7 segment displays and 16 segment displays on the UFC, and for the 16 segment displays, numbers > 9 are a single UFC characters, and currently a single glyph.  Whether this remains the case is TBD.  Creating a bespoke encoding will isolate users from locale specifics (I hope).  I also need to review th

[2019-07-09 15:45] derammo commented on #138
@BlueFinBima I just got done looking at the export.lua code to confirm.  It looks like UFCSendData receives decimal values, such as "13".    I think it need not concern itself with the fact that this might end up on a 16 segment display, because it is just a number at this point.  In fact, it should be a numeric (on a new protocol code) so that Helios could have triggers on the value if you want t

[2019-07-10 10:37] BlueFinBima commented on #138
@derammo,  I'm splitting this issue into two parts because I think there is a non-UFC bug here.  The Gadroc UDP interface was asserting UTF-8 for un-encoded data coming over the wire.   I don't believe that DCS is presenting UTF-8 to the export.lua.  I'm going to assert ISO-8859-1 because this is a closer match (IMHO) to what I believe is the native encoding of that data.  I had changed this to "d

[2019-07-10 21:58] BlueFinBima commented on #138
Well the early string conversion was a bad idea.  Caused all sorts of random problems.  ISO8859-1 still seems reasonable although I not convinced every windows release handles locales in the same way.  Some tweaks were needed for the font to correct the width of the 7 segment degrees glyph, which had to replace the ampersand.  The 7 segment space mapped at the less than also needed fixing.

[2019-07-11 07:18] BlueFinBima commented on #138
Positive feedback from the testing performed by the chap in Haifa, for both English and his own locale.

[2019-07-11 07:31] BlueFinBima commented on #21
This belongs in a different project.

[2019-07-11 21:34] BlueFinBima commented on #138
Implemented almost all of @derammo 's suggestions apart from escaping the colon.  UFC seems to work well now and locale immunity seems to be holding up.  Unfortunately I've broken backwards compatibility so anyone using the UFC will have to re-add the exports.lua for the Hornet interface :-(

[2019-07-11 21:34] #138 closed

[2019-07-12 07:01] BlueFinBima opened #147 "10 Second Delay / Frozen on Profile load in CC in 1.4.2019.0616"
In the last release of Helios, everytime i run a profile, with a plane in dcs already active, everything in the profile is frozzen till 10 seconds (aprox) before. In this time, even if you click a button or switch on the profile the commands are not sended to dcs
i tested with ka50, mi8 and f18, and always same resoult.
Easy to reproduce, open dcs and fly a plane, open the control center and run a

[2019-07-12 07:13] BlueFinBima commented on #147
I'll mark this closed, but @KiwiLostInMelb Is there any way you can make the delay conditional on Phidgets being used?

[2019-07-12 07:13] #147 closed

[2019-07-23 06:56] BlueFinBima commented on #133
Current state of investigation is that I would have to write my own driver for the MFD's because to have the ability to send the control transfer, I believe I would have to drop the HID connection, and then reattach the MFDs via a different driver, change the LED state, then re-attach the HID.  This would be in the order of seconds to do, and would not result in a good UX.  A rather annoying concl

[2019-07-23 06:59] BlueFinBima opened #148 "AV-8B SMC & UFC gauge creation."
Create an auto binding UFC and SMC for the AV-8B

[2019-07-23 13:54] derammo commented on #133
look at the example code
https://github.com/Microsoft/Windows-driver-samples/tree/master/hid/firefly

it shows how you can ‘chain / filter’ a HID driver by basically sitting on top of the system driver and injecting or filtering things

the sample shows sending controls for the mouse tail light (not a standard HID thing) while also maintaining the regular HID functionality

I believe this is very

[2019-08-05 14:06] skygunner58203 opened #149 "reset monitors not recognizing display resolution"
Reproducible error on my system.

Fresh install on Windows 10 1903  x64 for both DCS and Helios.
Load Control center, load profile from net, get invalid configuration error (normal)

Load Profile editor, load profile, reset monitors.  Checked for discrepancies in monitor config, none.
         clicked save.

Reload Control Center, load "fixed" profile, Helios cockpit displaying on primary monitor

[2019-08-05 14:56] BlueFinBima commented on #149
Hi @skygunner58203 thanks for making contact.  Can you attach the "fixed" profile please?  Can you also list the precise monitor layout (as Windows sees them) and any monitor scaling that you have on the monitors?
Cheers, BlueFinBima

[2019-08-05 14:58] skygunner58203 commented on #149
Sure.  Though it will have to wait til later tonight. I don't get home from work until almost 2300 CST

[2019-08-06 04:47] skygunner58203 commented on #149
Images and profiles as you requested.  Also, an imgur album showing what I'm doing.  Trying to make new blank profiles gives me really strange numbers.  The F15C profile is after I reset and save it.

https://imgur.com/a/Gji9ajB

![windows display page](https://user-images.githubusercontent.com/32446163/62511705-83975f80-b7da-11e9-89ba-4c6eab348d1c.png)
![display settings](https://user-images.gith

[2019-08-06 06:48] BlueFinBima commented on #149
Hi @skygunner58203,

Many thanks for providing this information.  It is very helpful.  The 200% scaling you specified on your 4K monitor effectively turns it into 1920x1080, and if the smaller monitor is also scaled 200% then this explains the 680x384.  Control Center simply reacts to the screen sizes that are provided by Windows and your settings effectively half your screen dimensions in both X

[2019-08-06 06:55] skygunner58203 commented on #149
Well, it's only ever worked if I lower my resolution to 1080p on the main screen.  As for the windows scaling option. I tried reducing it to 100%, but the same thing happens. I've never gotten it to work with higher display settings ever. If I could manually set the screen sizes in the hpf file using a text editor, it could probably get it to work.  I'll try fiddling with more settings and see if

[2019-08-06 07:25] BlueFinBima commented on #149
Hi @skygunner58203,

Are you saying that you change the res to 1080p in the physical monitor to get this working?  Hopefully my own set-up will give you confidence that >1080p is possible.  I leave all my monitors at their native resolutions.

This is a profile I have just created on my own setup
[code]
and this works fine.  As you see, I have two monitors >1080p
![image](https://user-images.githu

[2019-08-06 12:35] skygunner58203 commented on #149
Yes, that's exactly what I'm saying.  I need to physically change the
resolution on my primary monitor to get this to work at all.  I'll see if I
can figure this out and let you know what happens.

On Tue, Aug 6, 2019, 2:25 AM BlueFinBima <notifications@github.com> wrote:

[2019-08-06 14:14] skygunner58203 commented on #149
Well, at this point, I've gotten it to work properly exactly once.  And now Windows has decided that nothing should be able to run at all and my drivers are freaking out.  I think the issue is Windows touching things it shouldn't and has corrupted files.  My computer has decided it doesn't want to run half of my programs anymore.  I'm going to do a backup and repair/reinstall and see if that fixes

[2019-08-17 16:14] Phar71 opened #150 "M2000C implementation"
Hello guys,
I’m a new french player in DCS using the M2000C. I enjoy the game but I found difficult to get around the cockpit. So I tried to have a look on how DCS is working. I found your project.
So I cloned the project and I began to get around to try to understand how it works to add the missing parts of the M2000C.
So, started from other implementation (like A-10), I added in the M2000CSimple

[2019-08-17 16:37] BlueFinBima commented on #150
Hi Philippe,  Happy to have any help that is offered, and the deux mille would be a great additional interface. The M2000CSimple was generated in an afternoon, and accidentally escaped into a release.  I don't have this aircraft, so it was always going to be looking for someone to start knocking it into shape.

Unfortunately there is no guaranteed way to learn the values, often it is a lot of tria

[2019-08-17 16:42] BlueFinBima commented on #150
Closing as a duplicate of https://github.com/BlueFinBima/Helios/issues/82

[2019-08-17 16:42] #150 closed

[2019-08-18 19:19] Phar71 commented on #82
Hello,

Many thanks BlueFinBima for your answer. I hope I will be able to help. I will try to do a pull request as soon as possible, at least to begin the project.

But before that, I would like to resolve the problem I’m facing.

So, I’m struggling to find the issue on Tacan channel, preset U/VHF channel displays. I thought I had to listen at another id but after a lot of researches, work, headac

[2019-08-19 19:40] BlueFinBima commented on #82
@Phar71 I've sent you an invitation to Slack.  Interestingly Ikarus thinks the TACAN display for the Mirage is 620-622.  We can discuss further when you appear in Slack.
[code]

[2019-08-23 19:16] BlueFinBima opened #151 "Make Helios independent of the Windows Screen Scaling"
Jabbershoy a las 9:21
Hey
You do your own builds of helios right?
One of the most annoying things to me is that it requires no DPI scaling in windows. Anyway, i have a possible fix for that if you want, I had to use it for my launcher
In the app.manifest, if you add

[code]
[code]

[2019-08-23 19:17] BlueFinBima commented on #151
Jabbershoy a las 9:21
Hey
You do your own builds of helios right?
One of the most annoying things to me is that it requires no DPI scaling in windows.   Anyway, i have a possible fix for that if you want, I had to use it for my launcher
In the app.manifest, if you add
 <application xmlns="urn:schemas-microsoft-com:asm.v3">
   <windowsSettings>
     <dpiAware xmlns="http://schemas.microsoft.com/SMI

[2019-08-23 19:48] BlueFinBima commented on #151
Look slike Github removed the code
` <application xmlns="urn:schemas-microsoft-com:asm.v3">
   <windowsSettings>
     <dpiAware xmlns="http://schemas.microsoft.com/SMI/2005/WindowsSettings">true/pm</dpiAware>
   </windowsSettings>
 </application>`

[2019-08-24 18:32] BlueFinBima commented on #149
@skygunner58203 try 1.4.2019.0823 https://www.digitalcombatsimulator.com/en/files/3302014/  - it includes a change that makes Control Center's resolution ignore the Windows scaling.  Not certain that it will help you, but it might.

[2019-08-29 20:17] BlueFinBima opened #152 "Export.lua for DCS stops sending data after the initial send."
This was introduced by  my exports.lua "play nicely" interim code, but there is a bug in LuaExportActivityNextEvent which caused the routine to sulk after the first invocation because it returned the wrong value.

Changing `return t` to `return lt` at the end of the `LuaExportActivityNextEvent = function(t)` sorts this out.

[2019-08-29 20:21] BlueFinBima commented on #152
Fixed in https://github.com/BlueFinBima/Helios/commit/a68a45052f4dcbeecc625a7452f9c9db3cc1d2d5

[2019-08-29 20:21] #152 closed

[2019-09-01 08:07] skygunner58203 commented on #149
This actually fixed it for me.  I finally got around to testing that new version and it now displayed in the correct location on the correct screen.  You've been a huge help.  Thanks!

[2019-09-01 11:36] Phar71 opened #153 "Templates don’t work any more since moved in aircraft separate Assembly"
Since moving images and templates in a separate Assembly, the templates for the 3 concerned aircraft disappeared in Helios.
I tried to investigate but not sure why it is not working any more.
The AV-8B and M2000C seems to be affected, as the FA-18C is using just one template from the AV-8B

[2019-09-01 15:04] BlueFinBima commented on #153
@phar71 I'm aware of this and have fixes.  There are actually two issues depending on whether you have used the installer, or just running from the bin/release.

[2019-09-01 15:09] Phar71 commented on #153
Ok. I’m using from Visual Studio as I’m driving test to improve the M2000C interface and panels

[2019-09-01 20:54] BlueFinBima commented on #153
The templates in the %userprofile%\Documents\Helios\Templates directory seems to be the only place that the templates are picked up from.  I thought that they used to also get picked up from the directory where the program was executed from, but I might have got this wrong.
To fix some horrible code in the installer, I've declared the templates as "Content" which makes it easier for the installer

[2019-09-01 21:30] BlueFinBima commented on #153
Looks like Templates in %userprofile%\Documents\Helios\Templates are fine, but for templates in the application directory, Helios only looks in "Base" and I have moved the templates up a level for the installed version.  This has been fixed in commit 3c18bb1 which is in Dev.

[2019-09-01 22:00] Phar71 commented on #153
Ok, so if it works for the installed version, I think that’s fine. I tried to copy/paste the templates from the assembly folder to %userprofile%\Documents\Helios\Templates and it works fine. That’s ok for me.
Thanks for your explanations

[2019-09-01 22:06] BlueFinBima commented on #153
The latest commit should copy the templates into base automatically, but glad you've found a solution.

[2019-09-01 22:07] #153 closed

[2019-09-04 15:36] BlueFinBima commented on #82
https://github.com/BlueFinBima/Helios/commit/191fa79c60715ee04ee8ecb2c32c618fde99a204 adds a number of components.

[2019-09-04 15:49] BlueFinBima commented on #146
@FlyAngry Apologies, I missed the update on the 8th July.  I'll take a look.  There is obviously a  problem when the aspect ratio of the TextDisplay changes, because the aspect ratio for the font is fixed.  I guess the font size should only change with the width, although this does risk losing the display of all characters in the height is reduced too much.
I'll have a play and think this through.

[2019-09-04 15:56] BlueFinBima commented on #149
Credit to @jeffboulanger for providing this fix.

[2019-09-04 15:56] #149 closed

[2019-09-09 12:50] BlueFinBima commented on #148
Created Autobinding versions (mostly with new images) of the UFC, SMC, MPCDs, FQIS, EDP, ODU.  Also replaced the need for Viewport exporting for the UFC & ODU.

[2019-09-09 12:50] #148 closed

[2019-09-09 12:51] BlueFinBima commented on #151
Positive feedback from two different users.

[2019-09-09 12:54] BlueFinBima commented on #118
Delivered some capability to identify and save export.lua to a location that is selected by the user picking between GA, Alpha and Beta installation type.  Shipped for A-10C, FA-18C, AV-8B, M2000C.

[2019-09-09 12:55] BlueFinBima commented on #111
@CaptZeen can this be closed?

[2019-09-09 12:59] BlueFinBima commented on #108
The current export.lua format now saves away the caller info so can sit happily in a chain of exports.  This still uses lots of globals, but slowly bringing in newer functions that are mostly locals.

[2019-09-09 13:02] BlueFinBima commented on #38
I'm going to call this done, and anything more that is necessary, can go into the code as smaller functional requests

[2019-09-09 13:02] #38 closed

[2019-09-09 13:15] BlueFinBima commented on #61
In spite of good advice for @derammo  about trusting the OS, I've moved the Hornet, Harrier and Mirage images & templates into their own DLLs as of 1.4.2019.0908

[2019-09-09 13:15] #61 closed

[2019-09-09 14:21] BlueFinBima opened #155 "Tidy up missing AV-8B xaml file messages"

[2019-09-09 17:21] BlueFinBima commented on #155
Fixed by 9760c66f792bcbd1c587aa6a2c537c73869334eb

[2019-09-09 17:21] #155 closed

[2019-09-09 20:59] BlueFinBima opened #156 "Duplicate bindings with auto bound devices"
Looks like loading a profile with auto bound devices will result in the auto bind happening again.  Need to check at bind time to make sure that the device does not generate a new bind.

Also need to check the behaviour of autobinding when the component name is changed in Profile Editor.

[2019-09-09 23:12] Phar71 commented on #156
And for all the tests I made with autobinding, I may add that we need to check if the Interface is already added when you add a autobinded device because if not, the autobinding is not done and I think you have to remove the device to add it again after adding the interface.

[2019-09-10 06:33] BlueFinBima commented on #156
@Phar71 I've always been clear that for auto binding to work, the interface needs to be added first, but I agree that the size of the problem caused by this not being done is disproportionate with the ease of the oversight.
Interestingly, I thought that the solution would be to save the profile, and then reload it to get the effect seen by the original problem (ie second binding on profile load) b

[2019-09-10 18:59] BlueFinBima commented on #156
Interestingly, the duplication happens on the **save** of the profile and not the  **load**.

[2019-09-10 19:02] BlueFinBima opened #158 "ArgumentOutOfRangeException on HeliosTextBox"
Profile Editor, drag a TextDisplay onto a monitor and these exceptions are thrown
[code]
also

[code]

[2019-09-11 06:45] BlueFinBima commented on #158
Can't get VS to stop on the ArgumentOutOfRangeException for some reason.  I'm currently thinking this is an issue with TextDisplayAppearancePropertyEditor.xaml.
Appears benign, but it would be better if these were not coming out.

[2019-09-14 18:20] akjaw1949 opened #160 "New Helios and F-14"
I have the newest Helios and everything works, when I try to setup F-14 from Capt. Zeen Helios crashes and window shuts it down. running A-10, F-18 and others profiles all work except F-14.
hope someone can help me.  I sent this to Capt. Zeen he was going to look at it but know he is busy man.
Akjaw

[2019-09-16 10:32] BlueFinBima commented on #160
Transferred to the correct repo, and assigned to Capt Zeen in case this has already been investigated / addressed.

[2019-10-01 21:19] BlueFinBima commented on #156
The problem is that for the autobound components, the bindings also appear as visual.children and get serialised at 264 in HeliosSerializer.cs.  This happens after they have been correctly serialized as part of the "interface" serialization.  I've done various tests to attempt to remove the need for a child definition, but they all seem to result in problems with gauges when they are created.  Hmm

[2019-10-01 21:30] BlueFinBima commented on #118
Hi @Feebleeagle, did you ever resolve this?

[2019-10-02 17:34] BlueFinBima commented on #156
Fixed by excluding bindings from the visual.children processing.  https://github.com/BlueFinBima/Helios/commit/c7fecc5a0aef6e8576c2a0ff09b20b90bcf74c1c

[2019-10-02 17:34] #156 closed

[2019-10-05 12:05] CaptZeen commented on #103
Fixed in 1.4.2019.1005 Release
Unussed functionality has been removed.

[2019-10-05 12:05] #103 closed

[2019-10-17 05:10] GodofMonkeys opened #163 "Can't use Helios without Interntet (CLR20r3)"
Hi, I find out a bug when launch Control Center without Internet.

2019/10/17 PM 01:05:18 - Error - Error retrieving current version.
Exception Source:System
Exception Message:The remote name could not be resolved.: 'bluefinbima.github.io'
Stack Trace:
   on System.Net.HttpWebRequest.GetResponse()
   on GadrocsWorkshop.Helios.VersionChecker.GetCurrentVersion()

It see the app try to check any new

[2019-10-17 07:43] BlueFinBima commented on #163
Thanks for letting me know.  I will take a look and resolve when I have a
moment

On Thu, 17 Oct 2019, 06:10 God of Monkeys, <notifications@github.com> wrote:

[2019-10-21 20:52] ertiyu opened #164 "azerty keyboard"
Good evening,
Thank you for following Helios.
I am a user of Falcon BMS.
I am French.
Would it be possible for Helios to manage the azerty keyboard?
To use Helios I have to switch to qwerty.
Thanks again for the follow up!
Sorry for English, I go through Google translation.

[2019-10-26 13:35] BlueFinBima commented on #164
@Phar71 Is this likely to be just BMS?  Do you have to change to QWERTY for DCS?

[2019-10-26 14:38] ertiyu commented on #164
Hello,
Thank you for viewing my request.
For DCS I do not know.
I do not have DCS, sorry.

[2019-10-26 15:02] BlueFinBima commented on #164
Hi @ertiyu ,  Phar71 is in France, and I was wanting his input about whether this is a BMS specific problem, or whether it is pervasive issue across both sims.  I don't run BMS and my native keyboard is QWERTY so I'm not in a good position to assess the scope of the problem.

[2019-10-26 15:37] ertiyu commented on #164
BMS perfectly understands an "a" in azerty keyboard.
On the other hand Helios sends back a "q", whatever the keyboard.
You have to switch to qwerty keyboard for BMS to "understand".
Hoping to help you understand.

[2019-10-29 20:07] ertiyu commented on #164
good evening
I asked the question on the French forum "Checksix".
You have to switch to QWERTY even under DCS.
Thank you again for your attention to the Francophone community.

http://www.checksix-forums.com/viewtopic.php?f=435&t=206284&p=1742927#p1742927

[2019-10-30 10:58] BlueFinBima commented on #164
Hi @ertiyu, thanks for the additional information.  The answer is what I was suspecting.  I think you localise yourself too much.  I think you represent the interests of the whole non-QWERTY community :-D
I'll add the investigation to the backlog.

[2019-12-19 18:36] derammo opened #165 "export to DCS install folders still relevant?"
There is a bunch of original @Gadroc code in the DCS Export generation that relates to the DCS install directories.   It looks like originally it was trying to put Export.lua in the DCS install folder.   I am guessing this was because early DCS didn't support putting this in Saved Games?   Surely, there are no more such DCS around, so I would like to get rid of all that code mess or fix it.

Right

[2019-12-19 19:39] BlueFinBima commented on #165
I can't remember how far I got, but I did put code in to alter this -
primarily to added options for open beta and open alpha.  Unfortunately,
much of my IT infrastructure is still in boxes, so I am a little in the
dark at the moment.  Apologies for not responding to your invites etc,
really interesting what you're doing but I am lacking time to assimilate it
all.  I think this is all core to Heli

[2019-12-20 05:55] derammo commented on #165
clarification:

yes, we still need the support you put in for:

- Saved Games\DCS
- Saved Games\DCS.openbeta
- Saved Games\DCS.openalpha

I am asking why there is still code related to putting the exports into

- C:\Program Files\DCS World or whatever else you chose to call your install location

If there are still people who need to install without Saved Games, then we need to know that and fix t

[2019-12-20 08:23] BlueFinBima commented on #165
I think there probably are, but they have options - stay where they are, or
manually copy, so I don't feel that there is any point keeping the "program
directory" option around.  I suspect that it might not even work in modern
windows without the profile editor running elevated.

On Fri, 20 Dec 2019, 05:55 derammo, <notifications@github.com> wrote:

[2019-12-20 17:15] derammo opened #166 "right mouse button support"
Cpt Zeen's profiles still say Helios doesn't have right mouse support.   Why not?   This does not seem hard :)

[2019-12-21 03:25] derammo opened #167 "thread safety of UDP transport"
Reading this code:

https://github.com/BlueFinBima/Helios/blob/bf1eba33cf73ea77adc091bc0dc97c70d12b1566/Helios/UDPInterface/BaseUDPInterface.cs#L255

It appears to me that this function is not thread safe.   It is called on main thread (via Dispatch) and _tokenCount, _tokens are written by a worker thread in the async transport callback (OnDataReceived)

I am no expert on C#, so I am not sure if t

[2019-12-21 03:27] derammo commented on #165
plus the code is plain broken... it doesn't ever actually write to the DCS folder.   When I complete the next couple of changes for auto start / multi plane support, I will pitch a new and better way to you.

[2019-12-21 04:35] derammo commented on #167
same here:
https://github.com/BlueFinBima/Helios/blob/bf1eba33cf73ea77adc091bc0dc97c70d12b1566/Helios/UDPInterface/BaseUDPInterface.cs#L295

the client ID is modified in the socket callback thread and used here in main

[2019-12-21 09:43] CaptZeen commented on #166
Sorry derammo, where i need to change that? i really dont know, on my site?

[2019-12-21 09:46] CaptZeen commented on #166
Um, i thought you was talking about the mouse weel. sorry.
Anyway, i never use the right button on my profiles, just for the people that uses the touch screens.
I dont have one, and i really dont know if they can simulate the right button, thats the reason i dont use the right mouse in Helios.

[2019-12-21 09:54] CaptZeen opened #168 "New modular export files for Helios"
Hello everyone.
Some time ago y made with the colaboration of a friend (Crivi), a reestructuration of the old and long export.lua
Now is a complete modular system, where every airplane has his own file, and the usual helios functions are in other files.
Add a new airplane is now much more easy, baceuse only one more file is needed for each airplane.
Feel free to take a look to the system and make

[2019-12-21 13:22] derammo commented on #166
ok, that makes sense.   When i read your comment i thought you WANTED a right mouse button support so I was saying we should make it.   But you are correct that would be bad because then people would design profiles that don’t work well on touch screens.

[2019-12-21 13:22] #166 closed

[2019-12-21 16:08] derammo commented on #168
I am working on documenting requirements and background to help us integrate.  My current version of multi-plane support with "auto loading" is here https://github.com/BlueFinBima/Helios/tree/derammo_multiplane/Lua/DCS

Auto-loading refers to Helios being able to automatically switch to a different profile when you hop from one plane into another in DCS.

[2019-12-21 16:35] derammo commented on #168
Ok I am checking in a document, but please know this isn't claiming to be complete or finished.  I don't know all the requirements, so I am putting down what I know and then asking you folks to work with me to flesh it out or correct things.

https://github.com/BlueFinBima/Helios/blob/derammo_multiplane/Lua/DCS/doc/export_lua_design.md

[2019-12-21 16:38] derammo commented on #168
sorry for the force push update, I mistakenly checked in with status, which isn't appropriate

[2019-12-21 16:41] derammo commented on #168
here is the status as far as I know it, after reading most of CaptZeen's code ;)

please correct me also, just trying to get an idea of where we are at.  If some of the requirements get dropped, then that obviously changes the status.

# Requirement 1: Support for multiple planes / vehicles
*Status: all proposals have this*

# Requirement 2: Helios needs to know what plane is being exported
*Statu

[2019-12-21 17:13] derammo commented on #168
# Requirement 10: Export.lua should be a tiny stub that supports chaining
*Status: CaptZeen's proposal has this already.  So does TacView and others, so we should match it.*

[2019-12-22 19:47] derammo commented on #131
ok this has been sitting around for 8 months.  I am uploading as status video so we can review what we got and see if it is worth making it nice and including in the product.

https://www.youtube.com/watch?v=J2hELdg4sBk&feature=youtu.be

[2019-12-22 19:48] derammo commented on #131
also: would love some information if anyone knows how to determine what the current level of light is in DCS, because they implement dynamic night and day based on location, so if we could get some idea of overall level of light (at least the sun) then we could do a better job if someone switches the cockpit to night mode during the day vs at night

[2019-12-22 19:57] derammo commented on #131
and no, I won't write the code to figure out sunrise and sunset from real world data, because then DCS will just be inaccurate and I will get all pissed off :)

[2019-12-25 14:14] derammo opened #170 "static code analyzer as package?"
should we have the code analyzer as a nuget package in the project, so that everyone's code is checked as we develop?

see https://docs.microsoft.com/en-us/visualstudio/code-quality/roslyn-analyzers-overview?view=vs-2019#nuget-package-versus-vsix-extension

[2019-12-25 15:36] derammo commented on #167
there is also some code that indicates an overall lack of understanding how UDP sockets work, so this needs careful maintenance.  I am working on a new version.

in detail:  _bindEndpoint is overwritten by receivefrom to the address and port that we received from, and is then used to re-bind our local socket on exception.  these are two different things (remote and local endpoint)

[2019-12-26 02:49] derammo commented on #168
update:  since I had a whole day today to mess with this, I went ahead and wrote a version that supports both the profile drivers and CaptZeen profiles.  I wanted to see how close the two bases are and what it would take to make a compatibility layer.  About 7 hours of wading through stuff and testing things :)    Updated in https://github.com/BlueFinBima/Helios/commits/derammo_autoload

[2019-12-27 02:40] derammo commented on #167
see #171

[2019-12-27 18:44] derammo commented on #165
WIP of trying to simplify

![image](https://user-images.githubusercontent.com/817160/71528688-0070c600-28af-11ea-9c8a-2fb319845f0f.png)

[2020-01-01 23:34] Todd1215 opened #172 "F-16 Altimeter pressure always reads 29.92"
I recently decided to use Helios Altimeter Gauge in my profile for Falcon BMS. I mapped the input side of the Helios F-16 Altimeter Gauge pressure dial to the Falcon BMS Altimeter Interface but when the in game dial moves the Helios Gauge just shows 29.92 all the time. Am I doing this wrong or is it a bug?

[2020-01-02 00:54] derammo commented on #172
it looks like for BMS, the barometer pressure is always 29.92.  The indicated altitude appears to be unsupported, and the altitude that you can actually bind is spelled wrong.

` SetValue("Altimeter", "altitidue", new BindingValue(altitidue));`

`SetValue("Altimeter", "barimetric pressure", new BindingValue(29.92));`

so I would try binding the "altitidue" one since that one actually has a calcula

[2020-01-02 00:57] derammo commented on #172
oh sorry, I misinterpreted what you wrote.  You presumably have altitude working, and just wanted to add the pressure value?   Yes, it is hard coded to 29.92 for BMS.   So that's why that isn't working.

[2020-01-02 16:26] Todd1215 commented on #172
thanks

[2020-01-02 16:49] derammo commented on #172
there are currently no BMS people working on Helios, so it just sort of sits there.  If you know anyone who wants to work on BMS support (for example integrate against Lightning’s library) then send them our way!

[2020-01-03 18:04] Todd1215 commented on #172
I've forked this project to help work on what I can related to BMS since there is no one else doing it at the moment. I can get around in the code and compile projects etc .... One question I have is when I compile from the release branch to test that things work as expected before I make any updates it seems that when adding the falcon Interface I get some duplicate bindings showing up under Inpu

[2020-01-03 18:19] derammo commented on #172
you should definitely work on the “Dev” branch (upper case ‘D’)

when you say release branch, you mean you checked out a release label and built that?   that’s should certainly be just as good

[2020-01-03 18:21] Todd1215 commented on #172
Yes I figured for stability sake I'd checked out release, but I did some changes prior to that so I am cleaning house of all changes, re-forking and will build again to test. I just want to make sure my changes are not the cause.

[2020-01-03 19:10] Todd1215 commented on #172
So a clean build of 'Dev' branch still results in the same issue. If you select the Falcon->Open Falcon interface there is no issue with duplicate Input bindings. If you select Allied Forces or BMS you get duplicates. Every time you change the falcon version the Input Bindings list is getting appended. So 3 Altimeter bindings when the Falcon version is just 'Open Falcon' becomes 6 when selecting o

[2020-01-05 13:55] derammo commented on #172
ok are you working on fixing it then, or do you want to file a separate bug regarding the double bindings and crashes?

[2020-01-05 14:23] derammo opened #173 "Profile Editor: triggers not removed on change in interface"
as seen when you change the exporter in Falcon interface, triggers are not correctly removed on interface update

it is a simple bug and is being fixed

[2020-01-05 14:24] derammo commented on #172
never mind, it is a general Helios bug.   I am fixing it #173

[2020-01-05 14:24] #172 closed

[2020-01-05 14:35] derammo commented on #173
fixed for both triggers and actions
seems like this never worked

[2020-01-09 16:22] Todd1215 opened #175 "F-16 Altimeter drum rotates in the wrong direction"
Yeah I know this is a small issue and is purely cosmetic but the Altimeter readout drum rotates from the bottom up in Helios but the F-16 Altimeter gauge drum actually rotates from the top down.

[2020-01-12 01:22] Todd1215 commented on #141
Using SharedMemory Viewer for BMS you can see the GEARHANDLE bit turn on in LightBits2 section when gear handle light is lit. To test this I setup a simple Helios profile using a simple enunciator and bound it to the gear handle light. It does light up when BMS ligthBIt2 GEARHANDLE is on. So that just means the gear handle object in Helios isn’t working the same way as some may expect.

[2020-01-15 15:07] CaptZeen opened #177 "Reset monitors Bug, bindings don't move to the correct monitor."
Hello Everyone.
A couple of days ago, this old bug visit me at home, for the first time!

I always thought that the problem appeared when we reset to a configuration of three or more monitors, but the other day was diferent. I was in holidays in the mainland, and there i got only one monitor, so i was working on the F16 profile using only one monitor. Last week i come back home, and here i got two

[2020-01-17 14:12] BlueFinBima commented on #117
@CaptZeen can you review this issue to see if it might be the same as the issue you've just raised please?
FYI @derammo

[2020-01-19 23:25] derammo commented on #177
original bug has always existed. at this line:
https://github.com/BlueFinBima/Helios/blob/236a8c9c0183d75fc4a877ade94ae44711e76199/Profile%20Editor/MainWindow.xaml.cs#L873

code was apparently copied from HeliosProfile.cs and used to post-increment the index instead of just temporarily adding one in order to account for the 1-based naming of Monitors.  As a result, the name of a newly added "Monit

[2020-01-19 23:28] derammo commented on #177
by the way, if you went from 1 to 3 monitors the previous version of the code would presumably fail even worse, because of the incorrect increment of the loop index

as always, testing would be appreciated.  I converted 1 to 2, 3 to 2, 3 to 2 again (other monitor), but there are a lot of other cases

[2020-01-20 19:39] derammo commented on #168
this work has been moved along faster than expected, before anyone commented on it.  It is now ready to be used in derammo_helios16

[2020-01-20 19:39] #168 closed

[2020-01-20 19:41] derammo commented on #108
HeliosExport16 has exactly one global (the "helios" table) other than the ones required by DCS (LuaExport...) and supports multiple aircraft.  This item is done, if we agree to go forward with HeliosExport16

[2020-01-20 19:45] derammo commented on #117
this is the same as #177, or at least the fix provided for #177 is definitely required to fix this.  Need a volunteer to test this case against the fix in #177

[2020-01-20 20:53] ertiyu opened #178 "ENTER NUMPAD not recognized"
Good evening,
After a few tests the enter key on the numeric keyboard is not recognized by Helios.
I did the test with the notepad.
The Enter key on the keyboard works, but the numeric keyboard key does not.
I noticed it in FALCON BMS when I thought of a bad programming of the simulator.

Sorry for my English, I am French and I go through google translation.

[2020-01-20 21:03] derammo commented on #158
I corrected all the errors, but not sure the tooltip actually displays?   Maybe check that part or otherwise we ignore it.   I don't have time right now to figure out if the tooltip feature actually works.

[2020-01-20 21:20] derammo commented on #178
please attach your *.hpf file where you are testing?  that way we know what you are trying to bind

[2020-01-20 23:52] derammo commented on #160
@akjaw1949 was this issue resolved?

[2020-01-21 00:10] derammo commented on #167
I've confirmed that the Helios 1.4 UDP transport can be crashed by race conditions under load.   I've created a new one that I am using in derammo_helios16.

[2020-01-21 00:10] #167 closed

[2020-01-21 01:12] akjaw1949 commented on #160
Yes it was a lot of help on Discord, thanks....John

On Mon, Jan 20, 2020 at 3:52 PM derammo <notifications@github.com> wrote:

[2020-01-21 01:38] derammo commented on #160
Happy to hear that.  Was there a bug or just a procedure missing?

[2020-01-21 01:46] derammo commented on #165
derammo_helios16 only supports the 3 saved games locations and does not try to detect which one is appropriate

it does show the user exactly where it will put files to clarify what is going on

[2020-01-21 01:46] #165 closed

[2020-01-21 02:23] derammo commented on #125
I see two possible ways forward:

1) change how we read XML and port all the code in every ReadXML function to do it differently (sounds like a lot but it is possible)

2) do schema filtering, where we run the configuration through an XML schema filter before anyone gets to ReadXML so that we discard anything that isn't in the current schema version.  This would mean that every time we add a new o

[2020-01-21 02:29] derammo commented on #146
confirmed this is still broken, going to work on it

[2020-01-21 02:48] derammo commented on #146
fixed.  the code was trying to cleverly increase the font size when the user interactively increases the size of the box.  however, the font size is stored in the file and so it is already correct for the restored size.  When the control is de-serialized, its size changes from the default size to whatever it says in the profile.  This scale difference is then applied to the font.   If you were to

[2020-01-21 02:58] derammo commented on #110
I think you can just delete Export.lua and close this item
The ExportFunctions.lua being empty seems to be correct, since we don't currently export any of the non-main  panel stuff.   That's why CZ had to hack these values into combined values for his F15 profile.  It would be a trivial amount of work to support them properly in our FC2 interface.   Happy to do that when I port it to export16 form

[2020-01-21 03:06] derammo commented on #109
it also calls TacView at the end :) so obviously this is just someone's Export script copied into the product

I will recreate from scratch when I port to export16

[2020-01-21 03:41] derammo commented on #164
Hi.  I have tested with setting my keyboard mapping to AZERTY.    I see this:

- Helios fetches the current keyboard layout ONLY when it starts
- so if I switch keyboard mapping during the session QWERTY/AZERTY,
  it starts generating the wrong keys

@ertiyu Are you sure you always see the wrong result with Helios+AZERTY, or maybe you change your keyboard mapping while it is running?

[2020-01-21 03:48] derammo commented on #164
also: if you can test on your machine with this profile:

1) run this in Control Center
2) open Windows Notepad.exe
3) press the Helios button and see what it types
4) change keyboard mapping
5) press the button and see what it types

[issue164.zip](https://github.com/BlueFinBima/Helios/files/4089078/issue164.zip)

[2020-01-21 03:54] derammo commented on #73
can't reproduce this behavior with current Dev branch

[2020-01-21 03:57] derammo commented on #86
HeliosExport16 supports chaining

[2020-01-21 04:16] derammo commented on #106
It was a bug that Helios crashed when the settings file is corrupted.   It now handles exceptions during settings reading (such as a corrupted file) by resetting all the settings and then overwriting the file on the next change/exit, so it will be running again with default values.  There is no need to do anything more drastic to recover from a corrupted settings file.

[2020-01-21 04:20] derammo commented on #106
757ee8334a898f92460714d8e64ec59be9700cca doesn't fix the problem entirely, another commit coming

[2020-01-21 04:30] derammo commented on #106
@BlueFinBima please review this.  If you agree this was a bug I would love to call it a bug and call it fixed.

[2020-01-21 08:02] FlyAngry commented on #146
Good stuff. Looking forward to testing it out when I can. Many thanks!

[2020-01-21 08:32] CaptZeen commented on #177
Thanks for find that one, It cost a lot of time and problems to the users trying to run the profile in diferent monitor configurations than mine.
I'll test as soon as a have a bit of free time!

[2020-01-21 13:23] akjaw1949 commented on #160
One of Discord members sent me a file that I ran that did a repair, after
that it all worked fine.......John

On Mon, Jan 20, 2020 at 5:38 PM derammo <notifications@github.com> wrote:

[2020-01-21 14:06] derammo commented on #160
a y chance you still have that file and can attach it here?  i’m following up on anything that previously crashed helios

[2020-01-21 17:36] ertiyu commented on #164
Good evening,

Thank you for the time you take to understand the problem.
I always launch in QWERTY, because Helios cannot interpret AZERTY in Falcon BMS and DCS. See my request on GitHub.
I tested your profile and the display actually changes depending on when I change the QWERTY / QWERTY keyboard.
I did not know that.
I give you my profile to test the "enter" of the numeric keyboard.
You will se

[2020-01-21 17:39] ertiyu commented on #178
Good evening,

Thank you for the time you take to understand the problem.

I give you my profile to test the "enter" of the numeric keyboard.
You will see that the {ENTER} is not present in the list of the Keyboard interface.
Thank you again for the time you spend improving HELIOS!

[Profiles.zip](https://github.com/BlueFinBima/Helios/files/4092604/Profiles.zip)
![2020-01-21 18_22_21-TEST_Entr](ht

[2020-01-21 20:34] derammo commented on #164
Ok let me try to explain with different words.

Helios reads what the keyboard mapping is in Windows 10, but it only reads it when Helios starts.   So if you are getting the wrong keys output for BMS to understand, you can switch by changing the mode just before you start Helios and then changing it back.

Either one way or the other should work with BMS.   If it does not work, please tell me in d

[2020-01-21 20:35] derammo commented on #164
The <Enter> issue is separate and I will deal with that in the other issue record.

[2020-01-21 22:56] ertiyu commented on #164
Good evening derammo

sorry for the replies in the same message, I did not know that my email went automatically in GitHub.
Here are my steps for BMS:
I change the keyboard with "Alt + Mag" and switch to QWERTY
I launch Falcon
I launch Helios
no problem.
Pressing "A" on the keyboard gives a "Q" in Falcon, it executes the "awac" menu
Pressing the "Awac" key, mapped in Hellios gives a "Q", it execut

[2020-01-21 23:31] derammo commented on #164
:) google a traduit AZERTY en QWERTY plus haut?

Je prépare une réponse pour vous. Je répondrai à vos étapes ligne par ligne, ok?

[2020-01-21 23:55] derammo commented on #164
google translate says:

ok j'utilise l'icône dans la "windows tray", mais même chose non?

ceci est le moment où Helios choisit son comportement concernant le clavier

BMS est configuré pour que Q soit awac ou A est awac?

Helios envoie les "codes clés" qui rendent la lettre "Q" comme votre Helios Profile l'a demandé

BMS a changé ses paramètres clés parce que vous êtes passé en AZERTY? C'est «A»

[2020-01-22 02:17] derammo opened #179 "make deliberate and documented choice about platform"
why are we building Any CPU with 32 bit preference?

why do we have 32 bit third party nlua instead of 64 bit?

why are we installed as a 64 bit application but have 32 bit components in general?

[2020-01-22 03:32] derammo commented on #164
3. passez en QWERTY
     lancez Helios
     passez en AZERTY
     lancez BMS
     test, dîtes-moi ce qui s'est passé

Ceci (numéro 3) est essentiellement ce que ferait mon changement de code, pour permettre à Helios de toujours utiliser les codes clés pour QWERTY parce que je pense que BMS se soucie juste des codes clés, donc il accepte toujours la clé en haut à gauche pour Awac, non peu importe c

[2020-01-22 03:41] derammo commented on #164
si vous êtes courageux, vous pouvez tester mon idée en copiant ce Helios.dll dans Helios 1.4.2019.1005. Faites d'abord une copie de l'original :)
--------------------------------------------------
if you are brave, you may test my idea by copying this Helios.dll into Helios 1.4.2019.1005.   Make a copy of the original first :)
[Helios.zip](https://github.com/BlueFinBima/Helios/files/4095168/Helios

[2020-01-22 05:22] derammo commented on #178
I found it.   {RETURN} was sending Numeric Keypad Enter and {ENTER} was sending something that doesn't work at all.   Your profile was always sending Numeric Keypad Enter, according to this tester:
https://w3c.github.io/uievents/tools/key-event-viewer.html

I have fixed Helios to have {ENTER} and {RETURN} both send keyboard enter, and {NUMENTER} sends numeric keypad enter.

![issue178](https://use

[2020-01-22 07:51] CaptZeen commented on #111
The new Uh1H v2.0 using the generic Interface was created, now the performance and inpt/output beheviours are much improved.

[2020-01-22 07:51] #111 closed

[2020-01-22 13:04] derammo commented on #175
easy to fix, but I don't want to move forward unless I can somehow confirm the other direction is correct.  Are you talking about how the real plane works or how it looks in BMS or how it looks in DCS, or all of the above?    I don't suppose there would be a difference in aircraft generations on something like this, huh? :)

[2020-01-22 19:56] ertiyu commented on #164
Good evening.

Thank you !!!!

the .dll works!

the "A" keys on the keyboard remain "A" in Falcon without having to change the keyboard.

I have not tested all the keys but the "problem" of changing the keyboard is about to be solved!

Thank you again for the time spent improving HELIOS.

--------------------------------------------------------------------------------------------------------------

[2020-01-22 22:24] ertiyu commented on #178
Thank you for your quick response

---------------------------------------------------------------------------------------------------------------

merci pour la rapidité de votre réponse

[2020-01-22 22:46] derammo commented on #164
@BlueFinBima this is now a feature request for a feature that may be called something like
"option to always use QWERTY key codes" but I have no idea how to say that in such a way that a user will understand.   Basically what is happening is that BMS (and maybe DCS?) don't do their key bindings by the letter value of a key like "Q" but rather they do it by key code.  When you switch your keyboard

[2020-01-23 07:45] CaptZeen commented on #164
Nice addition. I remember the days when  i was forced to create diferent profiles for diferent international keyboards! That was a pain!
Lately i use the generic Interface and i dont need to use the keyboard interface. But anyway, is a very good feature.

[2020-01-24 13:18] derammo commented on #179
can we get on a civilized platform like suggested?    I would certainly like to be on a late Core or Framework with the latest language version set.

[2020-01-24 17:41] Todd1215 commented on #178
This bug has plagued me for some time. I had to re-do a BMS key file due to the NUMPAD ENTER key not doing anything useful.

[2020-01-24 17:53] Todd1215 commented on #175
I don't have first hand knowledge of F-16 Alt gauge myself. I can ask the BMS community as there are lots of actual F-16 pilots there. I don't want to start a DCS versus BMS thing either. I know the gauge in DCS aligns with what's in Helios, which is fine for me but it does differ from that of BMS. who's right who's wrong, who knows. maybe we can base the direction on which interface you're using?

[2020-01-24 18:01] derammo commented on #175
I don't want to start a virtual war either.   I just want to know if this is confirmed before spending resources (my time) to fix it.   Your eyeballs seeing it go the other way in BMS is enough evidence for me and saying it is the other way in DCS confirms this is a feature request for a toggle to make it go either way.

[2020-01-26 11:53] BlueFinBima commented on #141
@Todd1215 "gear handle object in Helios isn’t working the same way as some may expect"  can you explain your conclusion in more detail please?

[2020-01-26 12:24] BlueFinBima commented on #175
[Real F-16 Altimeter?](https://www.worthpoint.com/worthopedia/16-altimeter-1396134135) increases by rotating up from the bottom according to this image.  It could be a "block" or even instrument variation, but until info to the contrary appears, I think the Helios altimeter remains as is because this could be a bug-ette in BMS.
In general, I think Helios's job is to re-present what is happening in

[2020-01-26 12:49] BlueFinBima commented on #179
When I moved to 64 bit,  I had a few people griping.  I guess for those people running control center on a different machine, it could be very old kit, and potentially a 32-bit Windows.  For example, I have a Windows tablet which I run control center on, and it is only 32 bit Windows because the processor is 32 bit.
Although I don't remember why I changed to 64 bit (there seemed to be a necessity

[2020-01-26 14:19] BlueFinBima commented on #163
Closing.  Big thank you @derammo  for all of the recent bug fixing.

[2020-01-26 14:19] #163 closed

[2020-01-26 14:19] derammo commented on #179
I believe "civilized" is something our new team member could best determine.  For me, the interest is twofold:

1)  I would like the latest language version that I can get, so I can write tighter code.  New C# language versions come together with Framework releases.  So each Framework has a "native" language that it was released with.   Visual Studio automatically (unless your override it) set the

[2020-01-26 14:21] BlueFinBima commented on #178
@derammo Thanks for the bugfix.  Great job!

[2020-01-26 14:21] #178 closed

[2020-01-26 14:25] BlueFinBima commented on #117
Fix is candidate for release **after** 1.4.2019.1005
Awesome job @derammo

[2020-01-26 14:25] #117 closed

[2020-01-26 14:31] BlueFinBima commented on #163
Fix is candidate for release **after** 1.4.2019.1005
Awesome job @derammo

[2020-01-26 14:34] BlueFinBima commented on #178
Fix is candidate for release **after** 1.4.2019.1005
Awesome job @derammo

[2020-01-26 14:35] BlueFinBima commented on #172
Fix is candidate for release **after** 1.4.2019.1005
Awesome job @derammo

[2020-01-26 14:43] BlueFinBima commented on #177
Fix is candidate for release **after** 1.4.2019.1005
Awesome job @derammo

[2020-01-26 14:44] derammo commented on #177
this really needs a few people banging on it before release.   potentially normal cases could be affected if I messed it up

[2020-01-26 14:47] BlueFinBima commented on #111
Fixed by new CZ profile

[2020-01-26 14:49] BlueFinBima commented on #170
I can't handle the judgment!  Seriously though, have you run this and if so, how much is it highlighting as a concern?

[2020-01-26 14:50] BlueFinBima commented on #177
Reopening to await verification

[2020-01-26 14:51] derammo commented on #173
can only be verified by code review

[2020-01-26 14:52] derammo commented on #173
luckily it is super simple :)

[2020-01-26 15:11] BlueFinBima opened #181 "Location of HeliosSettings.xml"
https://forums.eagle.ru/showpost.php?p=3638362&postcount=66

Would it be possible to store the HeliosSettings.xml in the installation folder, instead of the My Documents\Helios folder? And also save the path to the My Documents\Helios folder in that HeliosSettings.xml file?

The reason I ask that is that then we could have 2 My Documents\Helios folders. One for the new profiles, and the other for

[2020-01-26 15:21] BlueFinBima commented on #106
From original report:
with corrupt **HeliosSettings.xml** .....

[2020-01-26 15:27] BlueFinBima commented on #106
Fix is candidate for release after 1.4.2019.1005
Awesome job @derammo

[2020-01-26 15:27] #106 closed

[2020-01-26 15:31] BlueFinBima commented on #146
Fix is candidate for release after 1.4.2019.1005
Awesome job @derammo

[2020-01-26 15:31] #146 closed

[2020-01-26 15:40] BlueFinBima commented on #158
Fix is candidate for release after 1.4.2019.1005
Awesome job @derammo

[2020-01-26 15:40] #158 closed

[2020-01-26 18:28] derammo commented on #181
It is inappropriate to store the settings in program files.   In a correct installation, program files are writable only by the system or admin with elevated privileges.   Data files do not go there.

The proper solution to the problem as stated is to use the already existing "--documents" switch in Helios.   By starting "Control Center.exe" or "Profile Editor.exe" with the command line option "--

[2020-01-26 18:34] derammo commented on #181
link #106 (you have to use the # sign to get a link :) )

[2020-01-26 18:42] derammo commented on #181
developers:  DCS-BIOS does a much better job than we do on this issue of placing things.  They put the main body of their Export scripts into program files, because you aren't supposed to touch them.  Your loaded airplanes plugins got into AppData\Roaming (very appropriate too, since not intended for editing but you own them and change them by updating the repos.)   The only thing that goes into t

[2020-01-26 22:34] derammo commented on #170
i only even asked because apparently this is added as a package dependency and i don’t know if that creates work for you.  specifically presumably it is a dev time knot dependency like in npm?

[2020-01-27 17:48] ertiyu commented on #175
Good evening,
I ask the question on the CheckSix forum

http://www.checksix-forums.com/viewtopic.php?f=281&t=207193&p=1759294#p1759294

Thank you for improving HELIOS!

[2020-01-27 22:06] ertiyu commented on #175
After a few exchanges with a member of the BMS team, the direction of the altimeter will not change in BMS.
It may not be a "Bug" but for now is not the priority of the development team.

-------------------------------------------------------------------------------------------------------------

Après quelques échange avec un membre de l’équipe de BMS, le sens de l’altimètre ne changera pas dans

[2020-01-28 20:49] derammo opened #182 "M-2000C interface bugs from inspection"
I am not set up to test these myself right now, so this issue is for tracking:

During instrumentation, I found 3 problems in the M-2000C interface:

- two buttons (search for "Button_)  have not had their symbolic names replaced with 3000-based values
- I believe the vehicle is actually called M-2000C and not M2000C so the AlternateName is wrong?

[2020-01-29 18:29] Todd1215 commented on #175
Ok makes sense to me.

[2020-01-29 18:29] #175 closed

[2020-01-29 18:46] Todd1215 commented on #141
I guess what was expected was to read the state of the landing gear handle light from BMS, but it seems Helios will activate the light based on state change of the helios control and not from BMS shared memory as I expected it to be.

[2020-01-29 19:45] ertiyu commented on #164
Good evening,
After several days of testing the ".dll" works fine on my PC.
I am in windows 10 64bts.
No need to change the keyboard.
Thanks for the work.

-----------------------------------------------------------------------------------------------------------

Bonsoir,
Apres plusieurs jours de test la ".dll" fonctionne tres bien sur mon PC.
Je suis en windows 10 64bts.
Plus besoin de changer d

[2020-01-29 19:48] ertiyu commented on #177
Good evening,
I am willing to test at home if the problem is gone.
I have 3 screens and I also have this problem.

----------------------------------------------------------------------------------------------------------------

Bonsoir,
Je veux bien tester chez moi si le problème est disparu.
J'ai 3 écrans et j'ai aussi ce problème.

[2020-01-30 02:41] derammo commented on #177
Des clients qui font du bénévolat?
Fantastique.

Nous vous dropbox le logiciel lorsqu'il sera release candidate, ok?
 ----
Customers who volunteer?  Awesome.

When we have a release candidate, we will dropbox it to you ok?

[2020-01-30 20:05] ertiyu commented on #177
good evening
Ok for Dropbox
I have an account.
I am happy to be able to help improve Helios.

----------------------------------------------------------------------------------------------------------------

bonsoir
Ok pour Dropbox
J'ai un compte.
Je suis heureux de pouvoir aider à l’amélioration de Helios.

[2020-02-02 14:52] derammo opened #184 "try to use hook script to register export dofile"
https://forums.eagle.ru/showthread.php?t=261861

[2020-02-03 09:37] BlueFinBima opened #185 "F/A-18C Dispenser Switch position Sending incorrect values."
https://forums.eagle.ru/showpost.php?p=4195285&postcount=209

Seeking help for how to change the output value from original object triggervalue.
For example. a 3 way toggle in HELIOS return 0/0.5/1.

C54,3001,1.0
C54,3001,0.5
C54,3001,0.0

But F/A-18C Dispenser Switch position is 0/0.1/0.2 like below

C54,3001,0
C54,3001,0.1
C54,3001,0.2

[2020-02-03 10:05] CaptZeen commented on #185
have you tried this? :
![image](https://user-images.githubusercontent.com/10826931/73644108-0a87a080-4675-11ea-9f30-0fb95659a538.png)

[2020-02-03 12:46] derammo commented on #185
this issue is reporting that we are sending the wrong command values.  I can confirm that DCS-BIOS sends the requested values of 0,, 0.1, and 0.2.   This would have been automatically filed as a bug against Helios in a few days when Warlord and I review the F/A-18C bindings :)

So yes, our code is very likely incorrect.   I believe you can verify in the model viewer that the switch does the right

[2020-02-03 12:55] BlueFinBima commented on #185
Thanks,  I can see from the original lua code in  comment on the line that
my crude automatic creation was too crude and did it wrong.  It is not
going to be the last issue in this code.  On the bright side, someone other
than me is using the interface.

On Mon, 3 Feb 2020, 12:46 derammo, <notifications@github.com> wrote:

[2020-02-03 13:03] derammo commented on #185
Ok I was wrong above.  It would not have been auto reported, because I am not yet comparing the value ranges.  Right now we are just chasing missing/wrong arguments (what we call ids)  and missing/wrong command codes.   After that, I will add a feature to compare the value ranges also.

[2020-02-03 15:25] BlueFinBima commented on #185
https://github.com/BlueFinBima/Helios/commit/8b749baa6b26a911e9576e6931e46fc41e1fc33a should fix this specific problem.

[2020-02-03 15:25] #185 closed

[2020-02-03 15:26] BlueFinBima commented on #185
Due for delivery in the 1Q2020 update to Helios 1.4

[2020-02-05 15:40] jieweiyang opened #186 "vJoy feeding interface"
Currently Helios is heavily rely on the model specified interface, or heavily customized remapping scrips based on existing interface for those model without interface built.

It would be good if Helios can have an interface that able feed the Btn/Switch status to vJoy, then it can be directly mapped to DCS as usual joystick input, no more rely on the interfaces specified for model.

vjoy homepage

[2020-02-05 21:04] BlueFinBima commented on #186
Hello @jieweiyang - thank you for your suggestion.  I have used vjoystick in the past, however I am unclear about the use case that you are suggesting.  In which situations would you see a Helios profile benefiting from acting as a joystick?
I'd appreciate a better understanding of what you are suggesting.

[2020-02-06 01:44] jieweiyang commented on #186
For example, If i want to fly F16(current EA in DCS) and make my customize control panel in Helios, but there is no existing interface for it.  I would like to have some buttons/switches in Helios, can send the status to vjoy, and then reflecting as Joystick button changes in DCS.  Like this way Helios widget -> vjoy -> DCS(joystick button).

Furthermore, this can be useful for other games like P3

[2020-02-06 03:23] derammo commented on #186
I believe the idea has merit as a low-latency alternative to the keyboard interface.  Helios can already send key strokes to whatever game you are playing using the Keyboard interface, but keyboard input can be laggy and expensive.   A game controller interface probably would get past this lag, if we did a good job with the timing.   I have no interest in working on this, but I seem to recall you

[2020-02-06 03:24] derammo commented on #186
Maybe this comment was helpful in your discussion.   I will now go back to working on getting Helios interfaces for all those other airplanes :)

[2020-02-06 07:28] jieweiyang commented on #186
One benefit from joystick is DCS have Down and Up event/commands.  Button Down is one event/command, Button Up can be another event/command.   That's how F/A-18C / F-16C provided some special binding for joysticks like Warthog Throttle.

For example:

{	down = ctrl_commands.FlapSw, up = ctrl_commands.FlapSw,
cockpit_device_id = devices.CONTROL_INTERFACE,
value_down =  1.0,	value_up = 0.0,
name = _

[2020-02-06 09:06] BlueFinBima commented on #186
@jieweiyang thank you for the additional explanation.  As @derammo hinted, strategically Helios' direction is towards offering more native interfaces which would diminish the need for interactions such as the ones you suggest.  Apart from support for axes, and possibly a reduction in latency, I believe (correct me if I am wrong) that you should be able to achieve what you seek from the keyboard in

[2020-02-07 10:11] BlueFinBima commented on #186
Adding to the fridge and closing

[2020-02-07 10:11] #186 closed

[2020-02-08 00:29] 54yroldHOTMOM opened #187 "toggling helios panels using keyboard commands/combinations"
Hi there,
Thanks you all for managing and improving upon this great software.

Is it at all possible to toggle panels inside the profile by using keyboard combinations? I am using some mighty fine profiles for dcs on a single touchscreen but sometimes the "buttons" to toggle certain specific panel toggle buttons are not where i want them. because some of the very fine helios profiles are chock ful

[2020-02-08 09:10] BlueFinBima commented on #187
Hi @54yroldHOTMOM ,
not from the keyboard, but if you have an old game controller that shows as a HID device. then you could use that.
Cheers

[2020-02-08 12:24] derammo commented on #187
@BlueFinBima this question came up in a thread on Discord, so I asked "mom" to file it here.

I figured maybe someone remembers whether keyboard input is a bad idea for some technical reason.   I could not think of one off the top of my head, so I think it is good to have the issue here for consideration.  Maybe Gadroc didn't think Profiles would get so complicated that they need their own keyboar

[2020-02-08 12:25] derammo commented on #187
A fun test for someone would be to see if the buttons on a virtual game device (like vjoy) are recognized by Helios.  Then those few people who want to use keyboard can hack their way around it by turning keyboard commands into virtual joystick buttons.

[2020-02-08 12:49] BlueFinBima commented on #187
@derammo SharpDX supports a keyboard.  How hard can it be ;-)

[2020-02-08 13:19] derammo commented on #187
nice try.   i look forward to reviewing your code

[2020-02-08 18:54] BlueFinBima commented on #187
A Mexican Stand-Off.... since there appears to be an existing option to achieve what MamanChaudeCinquanteQuatre is requesting, and neither of us currently has the the time to create this function, I'm tagging this for the Frigo (since I seem for no adequately explained reason to be turning French).

[2020-02-11 18:23] ertiyu commented on #164
Good evening,
Will this addition be available in the next version of HELIOS?

Attached is the list of keys used by Falcon
---------------------------------------------------------------------------------------------------------------
Bonsoir,
Cette ajout sera t'il disponible dans la prochaine version de HELIOS ?

En pièce jointe la liste des clé utilisé par Falcon

[Key list.txt](https://github.co

[2020-02-11 23:12] derammo opened #188 "logging performance"
the log file writing code opens and closes the file for each and every message

This appears to be the reason we can't execute anything reasonable with logging turned on.    We should confirm this is true, profile it to double check, and then switch to a real log implementation that doesn't close the file after every write

[2020-02-14 08:37] BlueFinBima commented on #164
@derammo,  I presume that your conclusion is that the NativeMethods.GetKeyboardLayout(0) call is too simplistic and needs to take into account culture?  Also that the call is only happening once.
I cannot get excited about the latter of the problems because if the first problem is fixed, there should be no reason to change the keyboard during the game.
I have to confess, I did get somewhat confuse

[2020-02-14 13:43] derammo commented on #164
@bluefinbima No, the feature is an option in the Keyboard interface to force a particular keyboard layout to be assumed, so that the key codes emitted match what a program like BMS expects, because it DOESN’T remap key codes according to the current keyboard layout.

i will implement the feature tomorrow.

[2020-02-14 13:52] BlueFinBima commented on #164
OK, I understand (now).

[2020-02-15 16:02] derammo commented on #164
@BlueFinBima ok all done.  It is ugly as heck, but I am not changing the way the keyboard interface works (checking layout only once at start up) because I don't want that testing/performance work.  So this is a feature that probably one user will use and it has a UI in a new global section of the KeyboardInterfaceEditor in ProfileEditor.  This is the same as the global settings in the DCS interfa

[2020-02-15 16:03] derammo commented on #164
I don't know if that is obvious to users, but "global setting for this computer" also means that it isn't stored in the specific profile.

[2020-02-15 16:05] derammo commented on #164
PS: oops I checked in some logging code that was for testing.... expect a force push in the next minutes

[2020-02-15 16:17] derammo commented on #164
we don't have a label for enhancement done I think, so I marked it Fixed

[2020-02-15 16:24] derammo commented on #133
@BlueFinBima ok let's consider one more time how to do it without writing a driver.  (With a chain/filter driver, it is obvious.)

What is the key factor that keeps us from sending a control transfer while the device is attached as a HID?  Does Windows basically just disallow us talking to the USB device because it is "owned" by the current HID driver?   Where does this happen?

[2020-02-15 16:30] derammo commented on #133
PS: By the way, I fully expect it is correct that you have to claim the device to send control transfers, as the google is full of people trying and failing to do it without :) on Linux and Andoid.   I haven't found Windows specific technical discussion, so I am wondering if you did.

[2020-02-15 16:31] derammo commented on #131
@BlueFinBima  this item is currently assigned to 1.4 project.  Can we discuss and decide if we want to do something with it?

[2020-02-16 13:55] derammo opened #189 "Reset Monitors: fill and always on top settings should copy during monitor reset"
people are having trouble after they reset monitors, because the extra monitors are set to "fill" and they can no longer see anything

these are users that have never used Helios and just downloaded their first CZ profile.  So it isn't reasonable to assume they know what a monitor fill option is.   This option should copy from any reassigned monitors during monitor reset and probably should defaul

[2020-02-16 15:07] BlueFinBima commented on #189
I agree

On Sun, 16 Feb 2020, 13:55 derammo, <notifications@github.com> wrote:

[2020-02-16 15:11] BlueFinBima commented on #131
While this is not strictly accurate, I do think that this is an excellent
addition if it can be profile controlled.  I like it

On Sun, 22 Dec 2019, 19:47 derammo, <notifications@github.com> wrote:

[2020-02-17 08:26] BlueFinBima opened #190 "Installer does not install the Visual C++ Runtime (unclear which one(s) are necessary)"
Need to review whether there truly is a need to deal with this.  Shipping the Framework is prohibitive in terms of size, and it looks like accommodating this would require a change to installer technology.  Maybe a  message might suffice.

[2020-02-17 08:48] CaptZeen commented on #190
![image](https://user-images.githubusercontent.com/10826931/74637487-5bfe5800-516a-11ea-8ba7-900990c35a92.png)

vcredist_x64.exe

Looks like this is the only file we need to install, dont know if we can put in on the distribution package and let the people know that they need to install it

[2020-02-17 09:10] BlueFinBima commented on #190
My misunderstanding.... is it just the visual c++ runtime that is causing problems?

[2020-02-17 09:57] CaptZeen commented on #190
i think so. I found this problem in three diferent persons, Installing this, the problem is solved. Here you got an example:  https://www.youtube.com/watch?v=cWI7_gOS190

[2020-02-17 11:14] BlueFinBima commented on #190
Need to find out which Visual C++ Runtimes are needed and by whom.

[2020-02-17 12:39] derammo commented on #190
changing to a 64 bit build and using latest nuget packages makes this go away I believe?  should at least try that before we include extra runtimes, because then we are moving forward

[2020-02-19 08:42] BlueFinBima opened #191 "Update CommandLineParser to latest level"
Currently CommandLineParser is implemented against their pre-V2 api.  Code changes will be necessary to work with more recent levels.  Since there is nothing broken, this is only needed for neatness because later levels of the package on NuGet are being flagged.

[2020-02-19 08:47] BlueFinBima opened #192 "License Files for re-distributed code need to be reviewed and included"
Now we are distributing Microsoft code in the form of the Visual C++ Runtime,  we need to review and include the license info for all of the hits and pieces that go out in Helios.  This also applies to the NuGetted packages and images which might be included.

[2020-02-19 22:37] derammo commented on #190
@BlueFinBima I just double checked and I see no dependency on visual C++ except lua52.dll from the old NLua distribution.  The current updated NLua/KeraLua nuget package no longer has a dependency on visual C++.   From where else are you getting this dependency?

[2020-02-19 22:38] derammo commented on #190
for full disclosure: the new NLua uses Lua 5.3 (the old one we used was 5.2 and DCS is 5.1) but I very seriously doubt it matters to the 3 line Lua scripts people use in their profiles.  At least I had no trouble executing one of CZ's lua profiles on Nlua with 5.3.

[2020-02-19 22:38] derammo commented on #190
I'm not doing anything on this task because it looks like you are already working on it.  Let me know if you want me to do anything.

[2020-02-19 22:50] BlueFinBima commented on #192
Delivered as 50d51ed30ea2177db2fd5fd7cd9769f5f57860dc

[2020-02-19 22:50] #192 closed

[2020-02-19 22:57] BlueFinBima commented on #190
@derammo,  I tried to force it back to lua 5.2 (which looking at the date would require an earlier c++ runtime than I was delivering.  I'm crossing my fingers that the 5.3 does not break anything.  It was a bit of a pain to get the installer working for the c++ runtime, but since it is now working - and a no-op if the runtime is already installed - I'm going to leave it in for now.  It is only 16M

[2020-02-19 23:00] BlueFinBima commented on #190
TBH, I did not go looking for what was causing the dependency.  I don't know if the native method calls would result in a c++ linkage, but my guess was Lua as the most likely candidate.

[2020-02-19 23:05] BlueFinBima commented on #179
I think we're all x64 now 7d4da6073ed5059a6687c57d7c668d3d81e82dd9

[2020-02-19 23:17] derammo opened #193 "CustomGaugeRenderer crashes Helios on image not found"
https://github.com/BlueFinBima/Helios/blob/bf1eba33cf73ea77adc091bc0dc97c70d12b1566/Helios/Controls/CustomGaugeRenderer.cs#L64

if image is not installed, then crashes here with null _image

correct behavior is to show red "this image doesn't exist" image instead

[2020-02-19 23:59] derammo commented on #190
yeah the C++ runtime is brought in if you use some C++ classes like an STL container or something like that in native code.  Looks like they cleaned up though and avoided external dependencies in later releases

I just did a quick LDD on *.dll in our build directory and you can see it trivially.  Go get yourself some msys2 :)

[2020-02-20 00:05] derammo commented on #191
I just reviewed Microsoft's offering to see if we can get rid of third party, and I don't like it (overly complicated attempt at making it look magical.)  I recommend we just bump to latest version of what we have, assuming it supports the same formats (including --long=value with an equals sign, which I think it currently supports.)

[2020-02-20 16:06] CaptZeen commented on #193
Fixed, now the default "missinginage" is show in case the image do not exist.

[2020-02-20 17:33] derammo commented on #193
note: this fix is in a branch that hasn't been merged
3ded1ba4ad9467c4fea9e0234af3d7a48aac1d1f

[2020-02-20 17:54] derammo commented on #177
@ertiyu, nous avons un release candidat que vous pouvez tester si vous êtes toujours prêt à le faire. Il comprend le correctif AZERTY / QWERTY (Profile Editor | Profile Explorer | Interfaces | Keyboard | Always use QWERTY Key Codes = checked), la réinitialisation du moniteur et le correctif NUMPAD_ENTER. C'est ici https://github.com/BlueFinBima/Helios/releases/tag/1.4.2020.0221.rc1

vous pouvez me

[2020-02-21 13:48] derammo commented on #179
@BlueFinBima will you still need me, will you still feed me?

[2020-02-21 13:50] derammo commented on #179
we still need to choose a .NET platform and language level.  i had moved this to 1.6 already, so we don’t need to do that now

[2020-02-21 13:52] derammo commented on #181
@BlueFinBima can we close this?

[2020-02-21 13:54] BlueFinBima commented on #179
@derammo True,  is there anything you think we need that is not included in 4.5?  Not sure  where you specify language level.

[2020-02-21 14:13] derammo commented on #179
@BlueFinBima I want to give Miroslav a chance to provide input also.   But this request started when I wanted to use Microsoft's JSON nuget package and can't, because they require 4.7.x.

Here is another thing to consider (https://support.microsoft.com/en-us/help/17455/lifecycle-faq-net-framework):
.NET Framework 4.5.2: Support for .NET 4.5.2 follows the lifecycle policy of the parent OS. It is su

[2020-02-21 14:14] derammo commented on #179
Windows 10 supports Framework 4.6+.

[2020-02-21 14:15] derammo commented on #179
We can override the language level in the build options.  That's not the hard part.  The hard part is making an educated decision about what value to choose.  Can we choose something higher than our target Framework normally targets?   Technically yes, but is it a good idea?  Hence I want to wait for the expert to chime in.

[2020-02-21 14:26] BlueFinBima commented on #179
@Derammo Sorry for missing the 64 reference, but it has been a hard day's night.

[2020-02-21 14:41] BlueFinBima commented on #179
I think we do need an expert opinion.  There are claims of backwards compatibility, but I don't know how real they are.  My preference is to have as low a level as a possible to avoid people needing to install a higher framework release which we don't ever exploit.

[2020-02-21 14:48] derammo commented on #179
I completely agree.   I want low risk also.   So I would aim in the middle, picking something that isn't about to be abandoned by MS and that doesn't force us to use ancient versions of nuget packages.  To get that right, we need to do the survey of what is in our product first.   Keeping this open for 1.6 gives us time to get smart.

[2020-02-22 02:55] derammo commented on #188
we should switch to a more serious log implementation
logs should not be removed at every start so users can actually provide a log file for a problem that might have occurred some days ago
do some real logging with log rotation based on size and/or age so that current log file will usually have a few days worth of logging in normal cases

Finally, there are errors that aren't logged as such, such

[2020-02-22 17:08] BlueFinBima commented on #193
https://github.com/BlueFinBima/Helios/commit/0fd322c10c9695df27c7f3f601181699893e8594

[2020-02-22 17:08] #193 closed

[2020-02-22 17:19] BlueFinBima commented on #190
I'm now not convinced that shipping the Visual c++ runtime installer is actually necessary.  The Helios Setup.exe can cause it to be installed by downloading the latest and greatest from Microsoft which is the way 1.4.2020.0221 will go out (also shipping the redistributable file).  I'll assess during the 20202Q cycle.

[2020-02-22 17:21] BlueFinBima commented on #118
dead air

[2020-02-22 17:21] #118 closed

[2020-02-22 17:23] BlueFinBima commented on #181
@derammo I want to document this in our new wiki, although it is in the never read "Helios Users Guide".  I'll close once this is done.

[2020-02-22 17:46] BlueFinBima commented on #141
@Todd1215 I've put change https://github.com/BlueFinBima/Helios/commit/097a66e5674aa3ac1a5e29cef4bdd63fb50e7aab and this will ship with 1.4.2020.022x release in a few days.  I've no idea if this will fix the problem, but I'd appreciate a test and feedback of the results.

[2020-02-22 17:56] BlueFinBima commented on #188
At least on my system, logs are not removed on every start.  I get a ".bak".  Whether the cost/pain/benefit warrants introduction of a more complex logging implementation is something I have my doubts about.  How many people - other than us - is actually going to benefit from this?  I'm also uncomfortable about Helios deleting files off a user's machine, even if we believe that Helios created them

[2020-02-22 18:00] BlueFinBima commented on #105
Done.

[2020-02-22 18:00] #105 closed

[2020-02-22 18:26] BlueFinBima commented on #170
Well Microsoft.CodeAnalysis.FxCopAnalyzers generated a lot of messages which is to be expected.  Not sure I'm up to wading through them at the moment (or possibly ever).  I might start with something a little smaller such as Iris.

[2020-02-22 18:43] derammo commented on #188
you get ONE bak file

so after two runs the logs are lost
what i am proposing is to delete files LESS i.e. only when it has taken up a lot of space

the point is so that when i support people on discord i can ask for a log and not get an empty file

Sent from my iPhone

[2020-02-23 02:47] derammo opened #194 "Reset Monitors: on reset from 5 to 3 screens, all controls lost"
I received a profile with 5 monitors, where all the controls are on monitor 5.  On reset, all the controls are lost (i.e. placed on no monitor) if I select Monitor 3 as the destination for all of them

the bindings are preserved and emitted to XML correctly

the log is correct:
[code]

[2020-02-23 12:24] derammo commented on #190
setup.exe just failed for ertiyu the same as it did for CZ.  people won’t know to just install the msi.   I can prove in a VM that we don’t need the redist if you don’t think that ldd establishes it.

[2020-02-23 12:27] derammo commented on #194
confirmed in code:  if two or more monitors are removed, controls from the monitors past the first removed one are lost because of indexing errors

[2020-02-23 12:33] BlueFinBima commented on #190
People should not need to know about installing via the msi.  I can reproduce so I have the log.  What is supposed to happen is that the installer is supposed to know that the runtime is already installed, and no-op.

[2020-02-23 16:33] BlueFinBima commented on #190
The failing installer is pre-req-ing the 2017 Visual C++ Runtime and does a check to see if it is installed.
Is the 2015-2019 C++ runtime gets installed, it uninstalls the 2017 runtime, but our installer check (well actually the OneClick check from my VS 2019 system) does not recognise that the 2015-2019 runtime is actually a higher level.  It then attempts to install what is a lower level which r

[2020-02-23 17:30] BlueFinBima commented on #190
Built a ClickOnce bootstrapper for 2015-2019, but I fear it will not last long because I do not have a URL for the installation package which will not change to a different vc_redist_x64.exe (with a different SHA 1 public key) at some point in the near future.

**I believe the product.xml is specific to 14.26.28127.04**  and while this is being provided by Microsoft we're good.  Previously there w

[2020-02-23 18:40] BlueFinBima commented on #190
https://github.com/BlueFinBima/Helios/commit/ae898eab657c7bd415ac0dbe5d41dbb5bfe8955f plus a copy of vc_redist.x64.exe put onto GH-Pages.

[2020-02-23 19:26] BlueFinBima commented on #190
File moved to GitHub  proper.

[2020-02-24 18:28] ertiyu commented on #141
Good evening BlueFinBima

I just tested with the RC4 and no change compared to the 2019 version.
I attach the file or the addresses are indicated.
Hoping to help you.
[FlightData.zip](https://github.com/BlueFinBima/Helios/files/4246119/FlightData.zip)

[2020-02-25 00:26] derammo commented on #194
added the additional functionality in d05e631f2123c0f9ee9cedefc0f65e0de2ab2efb to this issue:

Monitor Reset now sets Monitor settings
as follows:
- new monitors are set to always on top and transparent (no fill)
- if any controls are copied from a transparent monitor, the target monitor is set to transparent also
- if any controls are copied from an always on top monitor, the target monitor is se

[2020-02-25 00:55] derammo commented on #189
d05e631f2123c0f9ee9cedefc0f65e0de2ab2efb

[2020-02-25 01:51] derammo commented on #187
yes, it is a Mexican Stand-Off, and I am two of the required three people.

Keyboard input itself is easy:

[code]

But it is the configuration model that is a bit more challenging.  Presumably, the profile editor would allow you to create keyboard combinations on the Keyboard interface, such as "Left Control, Left Alt, A" and then create a HeliosTrigger for it.   Any binding would fire only if th

[2020-02-25 05:43] derammo opened #196 "please make installation of desktop icons optional"
the installer currently writes the readme link and two Helios start icons onto my desktop without asking

[2020-02-25 08:22] BlueFinBima commented on #196
The Microsoft installer that I am using is pretty "basic" and giving an option (assuming I can work out how to do it without changing the technology) increases the installation time because there is another dialogue box to navigate.  Probably quicker overall just to select the three shortcuts and hit delete.

[2020-02-25 08:32] BlueFinBima commented on #190
Removing the older NLua has probably removed the need to ship the Visual c++ runtime.  This needs file needs to be deleted from the install.  Leaving as a package prereq, with the download coming from the GitHub distribution section of the project.  If Microsoft provided a specific URL for the release we want to ship (needed to stop a reinstallation every time Microsoft updates the package), I cou

[2020-02-25 08:45] BlueFinBima commented on #190
The req-req downloads from https://github.com/BlueFinBima/Helios/releases/download/1.4.2020.0226/ so this Github should not be renamed or deleted without changing the package.xml in the bootstrapper.

[2020-02-25 12:27] BlueFinBima commented on #187
Firstly, using the "always-accurate" source Wikipedia,
[There is no definitive requirement that the confrontation involve at least three parties.](https://en.wikipedia.org/wiki/Mexican_standoff)... Just wanted to get that out of the way first.
Sounds like a reasonable design.  It might be fun to get into a keyboard loop using the current keyboard interface to trigger itself.  I realise that many p

[2020-02-25 13:48] derammo opened #197 "DirectInput controllers state can't be read without change"
The Game Controller Interface only has "pressed" and "released" HeliosTriggers, and no HeliosValues for the current value.  Therefore, if a controller has toggle switches (like a Warthog throttle for example) then these switches may be in the on or off state when Helios starts, but Helios does not fire either event.   So the controls are not set matching the controller's state on startup.

Proper

[2020-02-25 14:42] derammo commented on #191
@BlueFinBima I would like to do this work.   What milestone are you thinking?   Shall we have a release branch for Q1 so we can control what goes into it, or do you want everything else in forward branches?

[2020-02-25 15:10] BlueFinBima commented on #191
I think this would be Q2 milestone unless you're real quick.  I'm still
mulling over the future branch management, and release cotnrol.  Happy to
take your advice.

On Tue, 25 Feb 2020, 14:42 derammo, <notifications@github.com> wrote:

[2020-02-25 15:22] derammo commented on #191
I see zero reasons to add risk to the Q1 RC for this feature that affects noone :)

I want to do the work only so we get --help command line parameters that I can use to populate the list of command line options in the wiki.   Priority couldn't be lower :).

Let's talk about branching in chat.

[2020-02-25 20:41] BlueFinBima opened #198 "Helios msi will not install over previous releases"
Since moving to the new release numbering format, the Helios installer will not replace earlier versions, and requires an explicit uninstall before the new one will go on.

[2020-02-25 20:47] BlueFinBima commented on #194
3a299f5823b52a162d41fe3b4f89a1e0e8039765

[2020-02-25 20:47] #194 closed

[2020-02-25 20:48] BlueFinBima commented on #177
3a299f5823b52a162d41fe3b4f89a1e0e8039765

[2020-02-25 20:48] #177 closed

[2020-02-25 20:49] BlueFinBima commented on #173
3a299f5823b52a162d41fe3b4f89a1e0e8039765

[2020-02-25 20:49] #173 closed

[2020-02-25 20:57] BlueFinBima commented on #141
Back to the drawing board.  Helios should be accessing the correct bit in shared mem as far as I can see.  Just need to work out why that does not make it through into the correct trigger.

[2020-02-25 21:05] #189 closed

[2020-02-25 21:10] #164 closed

[2020-02-25 21:12] BlueFinBima commented on #190
Closing as the installer will cause 2015-2019 C++ runtime to be installed, even though Helios does not need it.

[2020-02-25 21:12] #190 closed

[2020-02-25 22:06] ertiyu commented on #141
good evening
I did a test profile.
the top light comes on well when the lever is in the low position.

On the other hand, the light at the bottom should light up when the trains are going out or coming in.
Once in the high or low position the light goes out.
Or stays on to indicate a landing gear malfunction.
With the BMS FlightDate, it is the value "GEARHANDLE" which is used to indicate this func

[2020-02-25 22:15] BlueFinBima commented on #141
Thanks,. If I understand correctly, you are saying that GearHandle bit is
set when the lever is down and unset when it is up.  Is this correct?  This
would suggest that BMS is not sending information about the state of the
landing gear indicator, only the position of the landing gear lever.  Have
I understood the situation correctly?
I cannot spot a bit which would represent the state of the landi

[2020-02-25 22:29] ertiyu commented on #141
GEAR HANDLE is active only when the landing gear is in motion, up or down.
For the first light on my profile, I don't know how HELIOS determines its position.
Only the values, NoseGearDown, RightGearDown and LeftGearDown are active when the landing gear is in the low position.

[2020-02-27 08:55] BlueFinBima opened #200 "Better options for new release notification"
We have a mechanism to alert users to a new release of Helios becoming available but it is very crude.  Need to give users the option to mute these warnings, or "remind me" etc

[2020-02-29 13:17] BlueFinBima commented on #196
dawdle to do conditional install for everything.... except shortcuts.  https://www.codeproject.com/Articles/12459/Create-conditional-shortcuts-during-the-installati

[2020-03-05 12:23] ertiyu opened #201 "Lua function works more"
Hello

With the latest version of the Lua code no longer works in Rotary.

If I ask the code to choose a position (1, 2 or 3) for Rotary and nothing happens.
By cons the same code on a button will work if the command and "true" or "false"

I created an example as an attachment.

[TEST LUA.zip](https://github.com/BlueFinBima/Helios/files/4292893/TEST.LUA.zip)

Everything works in the 2019 version.

[2020-03-05 14:07] derammo commented on #201
dev notes:  there are two problems here:

1) the new Lua changed how numerics are returned (they can be (long) now also) and this I can easily fix

2) the rotaryswitch has some broken code.   I will take my time to check how it is used in existing profiles to make sure fixing it doesn't break backwards compatibility

[2020-03-05 14:30] derammo commented on #201
update: problem 2 was caused by me in e2bda12e85f1e06124f17a387f8438a7069a71ee on 1/10/2020, so it only exists in 2020Q1 release

[2020-03-05 14:49] derammo commented on #201
a work-around for the Lua values being ignored is to `return 1.0` instead of `return 1`, but this does not solve the fact that I broke RotarySwitch in Q1 2020 release (fixed in next release)

[2020-03-05 19:56] ertiyu commented on #201
good evening Derammo
Please watch the problem.
I tested` return 1.0`, but at home nothing is moving.

----------------------------------------------------------------------------------------------------

bonsoir Derammo
Merci de regarder le problème.
J'ai testé` return 1.0`, mais chez moi rien ne bouge.

[2020-03-06 19:29] derammo commented on #201
Oui, même avec le changement a `return 1.0`, le Rotary Switch est toujours cassé (séparément.)

------

Yes, even with the change to return 1.0, the Rotary Switch is still broken (separately.)

[2020-03-07 16:01] weepop opened #202 "rotary switches"
Is it possible in the latest version of helios to have a rotary switch that can change direction at any point. I am unable to do it in version  1.3.190 unless I continue to last step before reversing.
Also if I install version 1.4.2020 will my old profiles still work or do I have to rewrite them?

[2020-03-07 18:01] BlueFinBima commented on #202
Hi @weepop,  The 1.3 profiles should work, but as the readme says, back them up before installing a new Helios to be safe.  Not sure I understand the question about the rotary switch.  It has been a long time since I ran 1.3, but I don't remember ever having a problem changing direction of a rotary switch at any particular point.  If you still have a problem at 1.4.2020.0226, please explain in mor

[2020-03-08 16:32] weepop commented on #202
Hi BlueFinBima
I have installed 1.4.2020.0226 and after a bit of work on the ICP panel it know works.
However the stepping of rotary switches as got worse. I used to be able to step in either direction with just the problem that I could not maintain sync if I changed direction mid way.
Now my LUA script does not cause stepping at all.
These are the scripts I used for a eight step switch:-
INCREASE

[2020-03-08 19:32] derammo commented on #202
definitely upgrade to https://github.com/BlueFinBima/Helios/releases/tag/1.4.2020.0308 before you do any more work on figuring this out

both problems corrected in that build affect what you are doing

[2020-03-09 07:49] weepop commented on #202
OK deramo done that and after a bit of a tussle with AVG both editor and control center now working and rotaries stepping again. However problem still exists that I must complete stepping in whichever direction I start before I can reverse because the two commands are not synchronized.
Help still needed in how to change my LUA scripts  !!!

[2020-03-09 17:34] derammo commented on #202
I think I know exactly what is going on.   I believe your two Lua scripts are running in two separate Lua instances and can’t communicate state.  I will look into this on wednesday.

[2020-03-09 18:24] ertiyu commented on #202
Good evening Weepop,

The variable "rotary" is only active in the button which allows you to rotate the rotary.
It is a local variable. It is not accessible by any other object.
Besides, the variable "rotary" could be called "toto".
I don't think HELIOS allows you to create variables outside the object.

----------------------------------------------------------------------------------------------

[2020-03-10 18:16] ertiyu commented on #202
@weepop here is a test profile that could help with your rotary.
This is the code I used in my profile to manage the radios.

[Code Lua Rotatif UHF.zip](https://github.com/BlueFinBima/Helios/files/4314045/Code.Lua.Rotatif.UHF.zip)

Hoping to help

[2020-03-11 10:28] weepop commented on #202
WOW  ertiyu  that is fantastic. All I have to do now is apply it to my profiles..
Just one question....what do the terms &1t   or  &gt   refer to?

[2020-03-11 10:40] weepop commented on #202
Just thought of one problem, is there a way to limit the label stepping to a given number.
As it is it seems to go on for ever and even goes backwards to minus values ??

[2020-03-11 19:32] derammo commented on #202
it's not a 1, it says &lt; and &gt;, which are "less than" and "greater than" symbols (<, >) escaped for use in XML
obviously just type in < and > when you use edit in Profile Editor, it will escape them like that in the XML file

[2020-03-11 19:38] derammo commented on #202
Ok so to document what we are doing about this case, first some facts for future reference:

1) The Lua interpreter is an instance variable of the binding itself.  This means that you CAN write stateful Lua functions (as shown in the examples above) but the globals used this these functions will only be accessible in the same Lua function.  Every other binding (even ones for the same function/cont

[2020-03-11 19:50] weepop commented on #202
Thanks derammo,, conversing with ertiyu now on BMS  forum

[2020-03-11 19:50] #202 closed

[2020-03-12 01:54] derammo opened #204 "installer does not replace keralua.dll if installing over existing Helios"
Working with a user who sees Helios crash every time they try to run 1.4.2020.0226

system log:

[code]

interpretation:

- It appears to be saying it is running on Framework 4.0.30319 (which is the RTM version of .NET 4.0)
- the exception means "can't load assembly even though I found it"
- the exception trace (Finalize -> Dispose -> Close) makes no sense at all but I assume it is failing dramati

[2020-03-12 01:55] derammo commented on #204
https://docs.microsoft.com/en-us/dotnet/api/system.io.fileloadexception?view=netframework-4.8
https://social.msdn.microsoft.com/Forums/en-US/fa4776a1-95fd-405d-9098-a89e37f85d9e/where-to-download-net-framework-v4030319?forum=netfxsetup
https://github.com/NLua/NLua/blob/v1.4.29/src/Lua.cs

[2020-03-12 03:42] derammo commented on #204
ok I need more information / knowledge.   I just created a virtual machine, installed plain win10 pro on it, installed Helios, ran the F16C profile that the user was saying was crashing, and it worked fine.  I fully expected Helios to fail to run because of a missing Framework, but it did not.  In the documented install locations for .NET framework, all I find is these:

![image](https://user-imag

[2020-03-12 03:49] derammo commented on #204
here is the answer:

All versions of .NET 4 are installed in the same path (4.0.30319) because they are installed as upgrades of that.   How do these MS developers sleep at night?  Anyway, the real version info is here in the registry:

![image](https://user-images.githubusercontent.com/817160/76485423-f01eb080-63f2-11ea-81e4-88d094d20251.png)

[2020-03-12 03:59] derammo commented on #204
and yes that means that a fresh windows 10 (pro, 64 bit) install has .NET Framework 4.7.x installed already.

[2020-03-12 06:17] BlueFinBima commented on #204
@derammo Is the person reporting the problem running Win10?

On Thu, 12 Mar 2020, 03:59 derammo, <notifications@github.com> wrote:

[2020-03-12 11:56] derammo commented on #204
no, MacOS.   But I decided to repro with Win10 anyway 🤣   ok not seriously, but i’m waiting for confirmation they aren’t on 32 bit

[2020-03-12 12:00] derammo commented on #204
they have 64 bit win10 with .net 4.8 runnning in German

i will repro that config and keep working on it

[2020-03-12 13:24] BlueFinBima commented on #204
Pretty sure I am only running 4.7.  When the dust settles, I wonder if this
will turn out to be the same issue I was looking at last weekend which had
no symptoms other than failing to start.

On Thu, 12 Mar 2020, 12:00 derammo, <notifications@github.com> wrote:

[2020-03-12 18:21] derammo commented on #204
this is all red herrings.  Like I suggested above, the trace is nonsense.  This problem happened because installing 226 over the 105 release did not replace keralua.dll.   The version number in the dll seems to have gone DOWN so the installer didn't replace it?   At least I think so.  Will repro when I am off duty.

[2020-03-13 02:22] derammo commented on #204
confirmed with .226 over .1005, keralua isn't replaced and it crashed on run

[2020-03-13 02:28] derammo commented on #204
confirmed with .308 over .1005, same problem
for the record, it does log in ControlCenter.log:
[code]

[2020-03-13 02:52] derammo commented on #204
Ok stuck now.  Full installer products like InstallShield or WiX have an option "Always Overwrite" which basically just sets the version of the file in the .msi table to 65535.x.x.x so it will always be considered newer and will overwrite whatever.   The file itself isn't stamped with that version, it is just changed in the table.

This means we either need to do that sort of thing in our post bui

[2020-03-13 02:57] derammo commented on #204
summon @BlueFinBima

[2020-03-13 02:59] derammo commented on #204
(and of course we need to tell folks to uninstall previous Helios before installing any 1.4.2020 that we have already released)

[2020-03-13 03:28] derammo commented on #204
in one test my binary diff also showed that phidgets.dll was kept from previous version, presumably the version number hasn't been bumped.  However, the binaries were different so code generation / platform changes must be checked and the version number bumped if anything is changed.

[2020-03-13 12:18] BlueFinBima commented on #204
@derammo I am very confused.  My Windows 10 does not allow me to install
without uninstalling the previous version.  What magic are you doing to
coax the installer to slap the new over the top of the previous?

On Fri, 13 Mar 2020, 02:59 derammo, <notifications@github.com> wrote:

[2020-03-13 12:35] derammo commented on #204
nothing.   install 2019.1005,  install vc redist to make it run,  test run,  install 2020.x

Sent from my iPhone

[2020-03-13 12:47] derammo commented on #204
presumably, you have some sort of artifact left over from a previous install.   I recommend you try uninstall Helios, wipe the install folder, and then try again from installing 2019.1005 fresh.   If it still doesn't overwrite, then study the technical info about what prevents upgrades in msi.   There is stuff like version files and such, maybe there is something in the registry or in the installe

[2020-03-13 16:03] BlueFinBima commented on #204
The file version numbering of KeraLua.dll looks a little suspicious with both the 2014 version and the current file both being 1.0.26.0.  The current Product Version has a branch identifier in it which I can't believe is guilt free.  I can imagine that the multi-faceted file comparison could quite easily have decided that the 2014 file did not need to be replaced.

[2020-03-13 18:16] derammo commented on #204
no the old one was 1.3.x.    that’s why it won’t replace it with something called 1.0.26

did you actually install 1005 or something else?

Sent from my iPhone

[2020-03-13 18:24] BlueFinBima commented on #204
I had edited that entry out of all recognition to the original post.  I
can't work out how to do it the proper way, but I can do it in a way that
will simply confirm that I am a complete cowboy.  "Yee haa" as you
Americans say.

On Fri, 13 Mar 2020, 18:16 derammo, <notifications@github.com> wrote:

[2020-03-13 18:25] derammo commented on #204
no worries.   getting second guessed by someone who is wrong is my absolute favorite thing in the whole world

[2020-03-13 21:33] BlueFinBima commented on #204
Actually looking back in the discourse, the fix I came up with is remarkably similar to the technique you described being used by other packages so maybe it isn't such a kludge (I'm kidding myself, it is still a kludge).  https://github.com/BlueFinBima/Helios/commit/b9dad44ac747ad9287de2e54d9210eca213afec8

[2020-03-13 21:34] BlueFinBima commented on #204
I'll probably package this up tomorrow if time allows.

[2020-03-13 21:48] derammo commented on #204
ok feel free to assign to you then.  it was assigned to me so i assumed i was implementing it, but happy to have it off my plate.

[2020-03-15 19:37] derammo commented on #196
After some reading, I don't believe there is a way to do dummy components containing shortcuts to external files (that just happen to be our installed files) in the basic installer project we use.  This appears to be the correct way to do optional Desktop shortcuts.

So I would withdraw this request until we have a WiX-based installer or other heavier installer.  It's not important enough to build

[2020-03-15 19:39] derammo commented on #196
this response explains what is supposed to happen.  Interestingly, it is a validation violation to have a shortcut to refer to a component/feature that isn't the same as the shortcut's component/feature.  This is why they have to make it an "external" file shortcut.   Bleah.   Don't want.
https://www.advancedinstaller.com/forums/viewtopic.php?t=21013

[2020-03-17 12:16] derammo commented on #201
verified fixed by ertiyu

[2020-03-17 12:16] #201 closed

[2020-03-17 12:19] BlueFinBima commented on #204
Fixed by a combination of activities in 1.4.2020.0315 .

[2020-03-17 12:19] #204 closed

[2020-03-17 12:23] BlueFinBima commented on #200
Improved at 1.4.2020.0308.  Not used for 1.4.2020.0315 because this release is bug fixing installer issues and the the new mechanism would only apply to those who have Helios successfully installed.
Automatic version check in CC and manual in PE.

[2020-03-17 12:23] #200 closed

[2020-03-17 12:27] BlueFinBima commented on #198
Permanent restriction for current versioning of 1.4.  MSI only tests V.R.M for upgrades so the upgrade will currently only work without an uninstall if the existing release is from a previous year.  No obvious way to resolve this without changing the versioning (which will be done after 1.4).

[2020-03-17 12:27] #198 closed

[2020-03-17 12:29] BlueFinBima commented on #196
While it is possible with a lot of work, there is no easy mechanism in the installer technology to do this with conditional install.

[2020-03-17 12:29] #196 closed

[2020-03-19 22:32] msdlogic commented on #133
There's a post on DCS forum from Keygetsys that has an example using the Target DLLs to change on/off and LED brightness of the entire panel or indicators just like Target.

It works for me. I made something with it to just turn the LEDs off when I reboot so I don't have to start Target

https://forums.eagle.ru/showpost.php?p=1956559&postcount=6

http://junk.kegetys.fi/pahkasikaLED.zip

[2020-03-20 13:22] BlueFinBima commented on #133
@msdlogic Great find... I'll take a look.

[2020-03-20 14:12] ertiyu commented on #172
in version 315 the bug is back

[2020-03-20 14:15] derammo commented on #172
clarification: this is the private test build 1.4.0000.0315 for BMS testing.   Did not retest with 1.4.2020.0315

[2020-03-20 14:19] derammo commented on #172
let's leave this open until we re-verify a public release that has the new BMS code and doesn't have this bug

[2020-03-20 15:23] ertiyu opened #207 "Bad data for TACAN"
TACAN management is not finished, "ufc tacan mode changed" displays the value from "ufc tacan band changed" and "aux tacan chan changed" displays the value from "aux tacan mode changed"

[2020-03-20 15:24] ertiyu opened #208 "AltBits does not work"
the AltBits which allows the management of the altitude does not work.

[2020-03-20 15:26] BlueFinBima commented on #208
@ertiyu Can you explain what you expect to happen and what actually happens please?

[2020-03-20 15:44] ertiyu commented on #208
"altimeter calibration type changed" should display true if Hg otherwise false.
same for "altimeter tire flag changed"

[TACAN & AltBits.zip](https://github.com/BlueFinBima/Helios/files/4360471/TACAN.AltBits.zip)

[2020-03-20 15:45] ertiyu commented on #207
a test file to check if problem corrected.

[TACAN & AltBits.zip](https://github.com/BlueFinBima/Helios/files/4360504/TACAN.AltBits.zip)

[2020-03-20 18:38] ertiyu commented on #207
I looked in the code, but I don't understand much about it ^^
In Interface> BMS> FlightData2.cs
I see it

`   enum TacanSources : int
    {
        UFC = 0,
        AUX,
        NUMBER_OF_SOURCES
    };`

While in the FlighData.h
There is that

`// TACAN
	enum TacanSources
	{
		UFC = 0,
		AUX = 1,
		NUMBER_OF_SOURCES = 2,
	};`

I don't know if it's useful for you.

Thank you again for the time you

[2020-03-20 22:34] derammo opened #209 "ProfileEditor Drag and Drop drops in the wrong place if scaled"
If you move the scaling/zoom slider in the Profile Editor view to anything other than default, then dropped items will not end up where you drop them.

[2020-03-20 22:36] derammo commented on #209
Clarification:  I am dragging and dropping from the Toolbox to the editing canvas.  Dragging around on the canvas seems to work fine.  I believe there is coordinate translation missing on the drop handler.

[2020-03-21 11:07] BlueFinBima commented on #207
@ertiyu  thanks for the investigation.  I agree that it does not look right, but BMSFalconDataExporter.cs also seems wrong.
Has this ever been working correctly?

[2020-03-21 12:10] ertiyu commented on #207
Hello,
I don't know what to answer you,
Things are working, like UHF backups.
In the Tacan the frequencies work.
Sorry that I can't help you anymore.
I don't have the programming skills to help you understand the .cs file

-----------------------------------------------------------------------------------------------------

bonjour,
Je ne sais pas quoi vous répondre,
Des choses marchent, comme les

[2020-03-21 20:25] ertiyu opened #210 ""rpm2" not work"
Good evening,
the "rpm2 changed" command does not work.
It should display values from 0 to 103%.

[2020-03-21 20:31] ertiyu opened #211 "Improved nozzle opening"
the value of motor 1 is multiplied by 100
Not the value of motor 2.

BMSFalconDataExporter.cs
`   176             SetValue("Engine", "nozzle position", new BindingValue(_lastFlightData.nozzlePos * 100)
`
`  212             SetValue("Engine", "nozzle 2 position", new BindingValue(_lastFlightData2.nozzlePos2)); `

[2020-03-23 16:07] BlueFinBima commented on #211
@ertiyu I can't say I understand this.  I thought the Viper only had a single nozzle.  Do you know for certain that nozzlepos2 needs to be multiplied by 100?

[2020-03-23 16:43] ertiyu commented on #211
Hello,
In BMS the values n ° 2 are used for F18.
After if it's too complicated it is not necessary because I think that few people use HELIOS to manage the F18.
Wasn't there a programmer using HELIOS?

[2020-03-24 07:58] ertiyu commented on #211
Clarification ;)
raw values range from 0 to 1, so the correct method is to multiply by 100.

[2020-03-24 08:07] ertiyu commented on #211
Help from @Todd1215  would be welcome ;)

[2020-03-24 13:06] Todd1215 commented on #211
Will take a look at it. I'm not sure how many users are creating Hornet profiles in BMS but it is possible and BMS team has done lots of work to bring the modeling of the Hornet up to speed.

[2020-03-24 14:03] ertiyu commented on #210
Thanks for your help !

Here is a test profile.

[2020-03-24 14:04] ertiyu commented on #210
[Nozzle et rpm.zip](https://github.com/BlueFinBima/Helios/files/4375665/Nozzle.et.rpm.zip)

[2020-03-24 15:18] Todd1215 commented on #207
Hard to tell if this ever worked. It might have worked prior to BMS 4.34. BMS 4.34 introduced a revamped TACAN. I will take a stab at it after reviewing lighting tools to see what's there for reference.

[2020-03-24 16:21] ertiyu commented on #207
The "BMSFlightData.exe" program in the Tool folder indicates that the TACAN data is working.
I tested with 4.34.3

[2020-03-24 19:08] ertiyu commented on #172
for information,
in version 1.4.2020.0315 the altimeter works.
By cons in version 1.4.0000.0315 it no longer works.
I looked at the code, with my very small skills, and I cannot find all the modifications brought by Todd1215.

-------------------------------------------------------------------------------------------------------------

pour info,
dans la version 1.4.2020.0315 l'altimetre fonctionn

[2020-03-25 21:21] Todd1215 commented on #208
Both Calibration Type and the Altimeter Pneu usage are detected. Something simple really. The SetValue and AddValue strings did not match.

[2020-03-25 21:22] #208 closed

[2020-03-25 21:23] #210 closed

[2020-03-25 21:23] #211 closed

[2020-03-25 21:23] #207 closed

[2020-03-27 16:20] Todd1215 commented on #141
I've been working on this issue on the Willan83BMS branch for the past few days, and just as BlueFinBima posted I have no idea why its not getting set. I even did a little rework and added BMSLightBits2 so as not to clash with the default LightBits2. I also added the AddValue code line as well but it still doesn't make a difference. This one is troublesome to say the least. I'll keep hammering awa

[2020-03-27 17:09] ertiyu commented on #141
thanks Todd1215 for researching the Bug.

[2020-03-28 19:04] derammo opened #212 "IFEI doesn't notice if its fonts are missing"
The IFEI composite visual has a bunch of text displays in it that use the custom Helios IFEI font.  If this font is not in the system (for example if you are a developer and didn't install Helios :) ) then it just silently draws nothing.

It should certainly log and it should probably fall back to a default font.  This presumably affects all controls, but I only confirmed it with the IFEI.

[2020-03-29 11:08] overalien opened #213 "F-18 UFC text size nor scaled correctly - Radio Channels above 9"
In this control, the text for channel higher than 9 (from any two digit number) shows the first digit and then after that some dots (..) instead of the second digit.  Did the scaling of the textbox size get messed up somewhere?   Problem is in three areas - Comm 1 channel (left of Scratchpad), Comm 2 Channel (left of Scratchpad) and lower right channel window on the UFC.  Simple fix i hope...?

[2020-03-29 12:16] derammo commented on #213
very interesting.  @CaptZeen reported some text scaling changes and resulting overflow in the Ka-50 interface also I believe?   I see two major possibilities:

1. a change in .NET   (very unlikely)
2. maybe I messed this up when I fixed the automatic font size adjustment (more likely)

Here's the theory for 2:

Perhaps the affected boxes are smaller than a default box.  So the font scaling bug #14

[2020-03-29 12:29] CaptZeen commented on #213
The other day i catch a similar thing, but the problem was not the font size, instead something changed on how the strings are represented. Don't know if the change is in DCS or in Helios, but for example where i espect a 2, it comes a 2.0. In my case i solved the problem doing this:
![image](https://user-images.githubusercontent.com/10826931/77849134-a8a56c00-71c9-11ea-991c-cafb9057f2cb.png)

[2020-03-29 13:03] ertiyu opened #214 "TAB selects text in the box"
Hello,
A future improvement,
When I press "Tab" the cursor does not select the default text in the properties.
For example when I go from Width to Height the cursor is placed at the beginning of the box without selecting the value which forces us to delete it by hand.

[2020-04-05 21:29] derammo opened #215 "no update notifications?"
user Tempest reports that they were running 0226 and never got 0315 pushed on them

need to repro

[2020-04-06 06:35] BlueFinBima commented on #215
Because 0315 was to fix issues with installation, I assumed that if you had
were able to receive the notifications that 0315 existed, then you did not
need it.  This was intentional.

On Sun, 5 Apr 2020, 22:29 derammo, <notifications@github.com> wrote:

[2020-04-06 12:01] derammo commented on #215
sorry I didn't have a chance yet to attach details, I was mobile at the time.  The problem they were having was that rotaries didn't work (fixed in 0308) and they resolved it by upgrading to 0315.   This suggests they were stuck at 0226 for some reason.  Because we don't have real log rotation, I don't think we have any information beyond that.  Maybe windows Event viewer could be checked to see w

[2020-04-07 18:00] Todd1215 commented on #141
Finally found the time to get back to this bug and this time it was personal!. I found the bug that was causing the landing gear light to not illuminate in Falcon Interface. this issue was a combination of typo's and probably too many Falcon versions supported.

[2020-04-07 18:00] Todd1215 commented on #141
It would probably be a good idea to remove all Falcon Interfaces except BMS for the next version as BMS is the only actively developed Falcon version now.

[2020-04-07 18:00] #141 closed

[2020-04-08 15:18] derammo commented on #179
I chose .net framework 4.7.2 for 1.6 because it supports all the libraries I want to use and is always available on Windows 10.   I don't care about older windows.

created a not-done for 1.4 since this decision doesn't apply to 1.4

[2020-04-08 16:23] ertiyu commented on #141
Hello,
I agree with Todd1215, keep only the branch 4.34
For the other versions the few remaining users use the HELIOS version of Gadroc.
I am still amazed by reading the comments on Falcon and Helios the number of users remaining on the version of Gadroc.

[2020-04-09 02:11] derammo opened #216 "AvalonDock: lost docking points?"
using Helios 1.4:

test1:
- New Profile
- Close "Preview" (or any other dockable)
- select from Menu:  View | Profile Preview
- window is back

test2:
- Load any profile that has a hpl layout file
- internally this means it deserializes the XML from hpl into AvalonDock directly, establishing a new view tree
- Close "Preview"
- select from Menu:  View | Profile Preview
- window does not show up

An

[2020-04-09 02:23] derammo commented on #216
@BlueFinBima related changes you made in 2018:

https://github.com/BlueFinBima/Helios/commit/d466378a5350c721c8dd5f3c83e49fb57c70249e

Any chance you know how this is supposed to work and why it doesn't?

[2020-04-09 03:31] derammo commented on #216
ok it is much more trivial version of the problem that I thought above.  after the deserialization, all the avalondock panel objects have been replaced with new ones.  Their content (our controls) is preserved and not recreated (phew) but all the layout nodes are new ones.   So all our references to named panel instances (ProfileEditor.PreviewPanel for example) are all stale references to the old

[2020-04-09 04:15] derammo commented on #216
no, there is no way to walk up the tree it looks like since the layout panels aren't in the visual or logical tree

so I had to do a recursive search through the layout tree to find the new host of our control and that works

[2020-04-09 04:20] derammo commented on #216
ok now I can load a layout, reset view or not reset view, hide all controls, and get them all back.   This will be fixed in 1.6.

[2020-04-09 12:33] derammo commented on #216
this is just continuing the fix for #14

I will need to code review to see what else is affected.   Certainly naming layout panels is just plain nonsense, so I will remove the names and that should find all the places where they were used.  Then we can just always find panels by searching for a panel that contains named content.